<footer class="page-footer" style="margin-top:-20px;">

    <div class="footer-col-container hide-on-med-and-down" style="margin-top:86px;">
      <div class="footer-col hide-on-med-and-down">
      </div>
      <div class="footer-col">
        <a href="/"> Home </a>
        <a href="#top_scrollspy"> Who is Cohero Health? </a>
        <a href="#what_is_cohero"> How we integrate </a>
        <a href="#how_does_it_work"> Our products </a>
        <a href="#who_are_we"> Our team </a>
        <a href="#what_people_say"> What patients say </a>
        <a href="#read_our_press"> Press </a>
        <a href="#try_our_products"> Try our products </a>
      </div>
      <div  class="footer-col">
        <a> Products </a>
        <a> Breathe Smart </a>
        <a> HeroTracker </a>
        <a> mSpirometer </a>
        <a> CoheroConnect </a>
        <a> Improve your health </a>
        <a> Caregiver </a>
        <a href="#try_our_products"> Try our products </a>
      </div>
      <div  class="footer-col">
        <a> About </a>
        <a> Our mission </a>
        <a> Our story </a>
        <a> Team </a>
        <a> Advisors </a>
        <a> Investors </a>
      </div>
      <div  class="footer-col">
        <a> Press </a>
        <a> In the news </a>
        <a> What patients say </a>
        <a> Press Releases </a>
      </div>
      <div  class="footer-col">
        <a> Contact </a>
        <a> Get in touch </a>
      </div>
      <div  class="footer-col hide-on-med-and-down"></div>
    </div>

    <div class="container" style="margin-top:78px;">
      <div class="row">
         <div class= "center col s12">
          <a href="https://itunes.apple.com/us/app/breathesmart/id1123030017?mt=8" ><img class="hvr-grow" src="images/app_store_button.png" width="124px;" alt=""></a>
          <a href="https://play.google.com/store/apps/details?id=com.coherohealth.breathesmart&hl=en" ><img class="hvr-grow" src="images/google_play_button.png" width="124px;" alt=""></a>
          <p class="footer-col">
            All Rights Reserved Cohero Health 2016 | info@coherohealth.com
          </p>
        </div>
      </div>
    </div>

    <div class="footer-col-container hide-on-small-only" style="margin-top:63px;">
      <div style="flex:1" class="hide-on-med-and-down"></div>
      <div style="flex:4" class="bottom-footer-text">
        <a > Cohero Health </a><br>
        <a class="hvr-underline-from-center" href="https://www.google.com/maps/place/Grand+Central+Tech/@40.7536901,-73.9803403,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25901e891bcd3:0xb23fc03b0521c47d!8m2!3d40.7536901!4d-73.9781516">335 Madison Avenue, New York, NY 10017 </a><br>
        <a href="/contact" class="hvr-underline-from-center">contact@coherohealth.com</a>
      </div>
      <div style="flex:2" class="bottom-footer-text">
        <a class="white-text hvr-underline-from-center" href="https://twitter.com/search?q=%23breathesmarter&src=typd">#breathesmarter</a>
        <a class="hvr-grow" href="https://www.facebook.com/Coherohealth/"><img src="images/facebookicon.png" width="25px;"></a>
        <a class="hvr-grow"  href="https://www.linkedin.com/company/coherohealth"><img src="images/linkedinicon.png" width="25px;"></a>
        <a  class="hvr-grow" href="https://twitter.com/coherohealth"><img src="images/twittericon.png" width="25px;"></a>
      </div>
    </div>
   <div class="footer-copyright">
     <!-- CAN PUT STUFF IN HERE -->
    </div>
 </footer>
