<footer class="page-footer" style="margin-top:-20px;">

    <div class="footer-col-container hide-on-med-and-down" style="margin-top:86px;">
      <div class="footer-col hide-on-med-and-down">
      </div>
      <div class="footer-col">
        <a class="footer-bold" href="/"> Home </a>
        <a href="/"> Who is Cohero Health? </a>
        <a href="/#our_platform"> Our platform </a>
        <a href="/#our_products"> Our products </a>
        <a href="/#our_team"> Our team </a>
        <a href="/#what_people_say"> What people say </a>
        <a href="/#home_press"> Press </a>
        <a href="/#home_try_our_products"> Try our products </a>
      </div>
      <div  class="footer-col">
        <a class="footer-bold" href="/products"> Products </a>
        <a href="/products#breathesmart"> BreatheSmart </a>
        <a href="/products#mspirometer"> mSpirometer </a>
        <a href="/products#herotracker"> HeroTracker </a>
        <a href="/products#coheroconnect"> CoheroConnect </a>
        <a href="/products#products_try_our_products"> Try our products </a>
      </div>
      <div  class="footer-col">
        <a class="footer-bold" href="/about"> About </a>
        <a href="/about#our_mission"> Our mission </a>
        <a href="/about#founders"> Founders </a>
        <a href="/about#team"> Team </a>
        <a href="/about#partners"> Investors and partners </a>
        <a href="/about#about_try_our_products"> Try our products </a>
      </div>
      <div  class="footer-col">
        <a class="footer-bold" href="/press"> Press </a>
        <a href="/press#in_the_news"> In the news </a>
        <a href="/press#what_patients_say"> What people say </a>
        <a href="/press#press_releases"> Press releases </a>
        <a href="/press#press_try_our_products"> Try our products </a>
      </div>
      <div  class="footer-col">
        <a class="footer-bold" href="/contact"> Contact </a>
        <a href="/contact#send_message"> Send a message </a>
      </div>
      <div  class="footer-col hide-on-med-and-down"></div>
    </div>

    <div class="container" style="margin-top:78px;">
      <div class="row">
         <div class= "center col s12">
          <a href="https://itunes.apple.com/us/app/breathesmart/id1123030017?mt=8" ><img class="hvr-grow" src="images/app_store_button.png" width="124px;" alt=""></a>
          <a href="https://play.google.com/store/apps/details?id=com.coherohealth.breathesmart&hl=en" ><img class="hvr-grow" src="images/google_play_button.png" width="124px;" alt=""></a>
          <p class="footer-col">
            All Rights Reserved Cohero Health 2016 | info@coherohealth.com
          </p>
        </div>
      </div>
    </div>

    <div class="footer-col-container hide-on-small-only" style="margin-top:63px;">
      <div style="flex:1" class="hide-on-med-and-down"></div>
      <div style="flex:4" class="bottom-footer-text">
        <a class="footer_move_right"> Cohero Health | </a>
        <a href="https://www.google.com/maps/place/Cohero+Health/@40.6974968,-73.9292783,11.43z/data=!4m5!3m4!1s0x0:0x90c7f4cf29270a31!8m2!3d40.753598!4d-73.978085">335 Madison Avenue, New York, NY 10017 | </a>
        <a class="footer_move_right" href="/contact">contact@coherohealth.com</a>
      </div>
      <div style="flex:2" class="bottom-footer-text">
        <a class="white-text" href="https://twitter.com/search?q=%23breathesmarter&src=typd">#breathesmarter</a>
        <a class="hvr-grow" href="https://www.facebook.com/Coherohealth/"><img src="images/facebookicon.png" width="25px;"></a>
        <a class="hvr-grow"  href="https://www.linkedin.com/company/coherohealth"><img src="images/linkedinicon.png" width="25px;"></a>
        <a  class="hvr-grow" href="https://twitter.com/coherohealth"><img src="images/twittericon.png" width="25px;"></a>
      </div>
    </div>
   <div class="footer-copyright">
     <!-- CAN PUT STUFF IN HERE -->
    </div>
 </footer>
