<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet">

  <!--Import materialize.css-->
  <link rel="shortcut icon" href="images/brandmark.png">
  <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/styles.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="css/cohero_styles.css"  media="screen,projection"/>
  <link href="css/nouislider.css" rel="stylesheet">
  <link href="css/hover.css" rel="stylesheet">

  <!-- Minimal Form********************************* -->
  <!-- <link rel="stylesheet" type="text/css" href="css/minimal_form/normalize.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="css/minimal_form/demo.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="css/minimal_form/component.css" />
	<script src="js/minimal_form/modernizr.custom.js"></script> -->
  <!-- ********************************************** -->



  <!-- bxSlider CSS file -->
  <link href="css/jquery.bxslider.css" rel="stylesheet" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <meta charset="UTF-8">
  <title>Cohero</title>
</head>
