<div id="turquoise_try_our_products_container" style="height:700px; background-color:#1FD9C7;">
  <div id="try_our_products" class="container section scrollspy" >
    <div class="row">
      <form action="https://formspree.io/ari@coherohealth.com"
          method="POST" enctype="multipart/form-data">
          <input type="hidden" name="_next" value="/#home_try_our_products" />
          <div style="margin-bottom:70px; color:#1FD9C7">.</div>
          <div id="question1" class="input-field col s12 m12 l8">
            <h1 id="looking_to_h2" style="font-size:18px;">Interested in our products? Let’s get started.</h1>
            <h1 class="form_h1" style="line-height:57px; margin-top:-17px;">What can we help you with?</h1>
             <div class="form_button" id="choice_try_products" style="margin-top:50px;"> Try products </div><br>
             <div class="form_button" id="choice_send_message" >Send message</div>
           </div>
           <div id="question2" class="input-field col s12 m12 l8">
            <h1 class="form_h1" style="margin-top:74px;">Great. Would you be okay to try products as part of a clinical study?</h1>
            <div style="margin-top:50px;" class="form_button" id="will_try_clinical_study">Yes</div><br>
            <div class="form_button" id="wont_try_clinical_study">No</div><br>
            <div class="form_button backButtonType2">Back</div>
          </div>
          <div id="question3" class="input-field col s12 m12 l12 question">
            <h1 id="looking_to_h2" style="font-size:18px; color:white; line-height:1.4" style="margin-top:74px;">
              Thank you for your interest about our research study, “ Assessing the Use of Mobile Technology in Adult Asthma Patients: An Observational Study”.<br>
              The purpose of this study is to understand whether the use of a smartphone-based program can help remind you to use your daily asthma controller medication.  Participation in this study would last about 6 months.
              To see if you might qualify for this study, I need to ask you some questions about your health history and present condition. Some of these questions may be sensitive, such as questions about your current asthma condition, what medication you are taking, how long you have been diagnosed with asthma and if applicable whether you are pregnant or planning on becoming pregnant.  You do not have to answer any questions you do not want to answer. You may stop this interview at any time. If you do not qualify for this study, the information you give me will be destroyed immediately.
              <br>If you would like to proceed, please click start below.
              This survey takes about 5 minutes to complete.
              start press ENTER
            </h1>
              <br>
            <div><a href="https://coherohealth.typeform.com/to/Bat26r" target="_blank"><div class="form_button">Start</div></a></div><br>
            <div class="form_button backButtonType2">Back</div>
          </div>
           <div id="message_div" class="input-field col s12">
            <h1 class="form_h1" style="margin-top:74px;">What's your message.</h1>
            <input id="message" name="message"  type="text" class="materialize-textarea" style="margin-top:30px;"></input>
            <button class="form_button subButton" style="background-color:#1FD9C7; margin-top:35px;" type="submit">Send</button><br><br>
            <div class="form_button" id="messageBackButton">Back</div>
          </div>
          <div id="sorry_message_div" class="input-field col s12">
            <h1 class="form_h1" style="margin-top:74px;">Sorry. Right now, our products are only available through a healthcare provider or to people in clinical studies.</h1>
            <br>
           <div class="form_button" id="start_over">Start over</div>
         </div>
      </form>
    </div>
  </div>
</div>
