<div id="turquoise_try_our_products_container" style="height:700px; background-color:#1FD9C7;">
  <div class="container">
    <div class="row">
      <br><br><br><br><br>
      <form action="https://formspree.io/ari@coherohealth.com"
          method="POST" enctype="multipart/form-data">
          <input type="hidden" name="_next" value="#try_our_products" />
          <div id="question1" class="input-field col s12 m12 l8">
            <h1 class="form_h1">What can we help you with?</h1>
            <h2 id="looking_to_h2">Interested in our products? Let’s get started.</h2>
            <br>
             <div id="choice_try_products" class="white-text whiteButton"> Try products </div><br>
             <div id="choice_send_message" class="white-text whiteButton">Send message</div>
           </div>
           <div id="question2" class="input-field col s12 m12 l8">
            <h1 class="white-text" style="font-size:48px;">Great. Would you be okay to try products as part of a clinical study?</h1>
            <br>
            <div class="whiteButton" id="try_clinical_study">Yes</div><br>
            <div class="whiteButton" id="wont_try_clinical_study">No</div><br>
            <div class="whiteButton" id="backButton1">Back</div>
          </div>
          <div id="question3">
            <div class="input-field col s12 m12 l8">
              <h1 class="form_h1">What’s your first name?</h1>
              <input id="first_name" type="text" name="first_name">
              <div id="first_name_error" class="red-text">Please fill out this field</div><br>
              <div class="whiteButton nextButton">Next</div><br>
              <div class="whiteButton" id="backButton2">Back</div>
            </div>
          </div>
          <div id="question4">
            <div class="input-field col s12 m12 l8">
              <h1 class="form_h1">Last name?</h1>
              <br>
              <input id="last_name" type="text" name="last_name">
              <div id="last_name_error" class="red-text">Please fill out this field</div><br>
              <div class="whiteButton nextButton">Next</div><br>
              <div class="whiteButton" id="backButton3">Back</div>
            </div>
          </div>
          <div id="question5">
            <div class="input-field col s12 m12 l8">
              <h1 class="form_h1">And your email?</h1>
              <input id="email" type="email" name="email">
              <div id="email_error" class="red-text">Please enter a valid email</div><br>
              <div class="whiteButton nextButton">Next</div><br>
              <div class="whiteButton" id="backButton4">Back</div>
            </div>
          </div>
          <div id="question6">
            <div class="input-field col s12 m12 l8">
              <h1 class="form_h1">How old are you?</h1>
              <input id="age" type="text" name="age">
              <div class="whiteButton nextButton">Next</div><br>
              <div class="whiteButton" id="backButton5">Back</div>
            </div>
          </div>
          <div id="question7" class="input-field col s12 m12 l8">
            <input id="diagnosis" type="hidden" name="diagnosis" value="" />
            <h1 class="form_h1">What respiratory condition do you have?</h1>
            <p>
               <input name="group1" class="with-gap" type="radio" id="asthma" value="asthma" />
               <label for="asthma" style="font-size:30px; color:white;">Asthma</label>
             </p>
             <p>
               <input name="group1" class="with-gap" type="radio" id="copd" value="copd" />
               <label for="copd">COPD</label>
             </p>
             <p>
               <input name="group1" class="with-gap" type="radio" id="wont_disclose" value="wont_disclose" />
               <label for="wont_disclose">Choose not to disclose</label>
             </p>
             <br>
             <div class="whiteButton" id="backButton6">Back</div>
           </div>
           <div id="question8" class="input-field col s12 m12 l8">
              <input id="phoneType" type="hidden" name="phone_type" value="" />
              <h1 class="form_h1">What kind of smartphone do you use?</h1>
              <p>
                 <input name="group2" class="with-gap" type="radio" id="iPhone" value="iPhone" />
                 <label for="iPhone">iPhone</label>
               </p>
               <p>
                 <input name="group2" class="with-gap" type="radio" id="android" value="Android" />
                 <label for="android">Android</label>
               </p>
               <p>
                 <input name="group2" class="with-gap" type="radio" id="not_iPhone_or_android" value="not_iPhone_or_android" />
                 <label for="not_iPhone_or_android">Other</label>
               </p>
               <br>
              <div class="whiteButton" id="backButton7">Back</div>
            </div>
           <div id="message_div" class="input-field col s12">
              <p>Send us a message.</p>
            <input id="message" name="message"  type="text" class="materialize-textarea"></input>
            <button class="whiteButton" type="submit">Send Message</button>
            <div class="whiteButton" id="messageBackButton">Back</div>
          </div>
          <div id="sorry_message_div" class="input-field col s12">
            <h1 class="white-text" style="font-size:48px;">Sorry. Right now, our products are only available through a healthcare provider or people in clinical studies.</h1>
            <br>
           <div class="whiteButton" id="choice_try_products2">Start over</div>

         </div>
          <div id="additional_comments_div" class="input-field col s12">
             <p>Addtional Comments? Send us a message.</p>
           <input id="additional_comments" name="Additional Comments"  type="text" class="materialize-textarea"></input>
           <button class="whiteButton" type="submit">Send Message</button>
           <div class="whiteButton" id="addtionalCommentsBackButton">Back</div>
         </div>
          <div id="thank_you_message" class="white-text">Thank you for your message, we got it!
          </div>
          <br>
          <div class="white-text left-align col s12" id="progress_counter" style="margin-top:50px;">
            <span id="count" style="font-weight:bold;">1</span>/7
          </div>
      </form>
    </div>
  </div>
</div>
