<div id="turquoise_try_our_products_container" style="height:600px; background-color:#1FD9C7;">
  <div class="container">
    <div class="row">
      <br><br><br><br><br>

      <form action="https://formspree.io/ari@coherohealth.com"
          method="POST" enctype="multipart/form-data">
          <input type="hidden" name="_next" value="#try_our_products" />
          <div id="question1" class="input-field col s12 m12 l12">
            <h2 id="looking_to_h2">Looking to try our products? Let’s get started</h2>
             <span id="choice_clincal_study" class="white-text whiteButton">I would like to try products</span><br><br>
             <span id="choice_send_message" class="white-text whiteButton">I just want to send you a message</span>
           </div>
          <div id="question2">
            <div class="input-field col s12 m12 l4">
              <p class="white-text">What's your name?</p>
              <input id="name" type="text" name="name" class="validate" required>
            </div>
          </div>
          <div id="question3">
            <div class="input-field col s12 m12 l4">
              <p>What's your email?</p>
              <input id="email" type="email" name="email" class="validate" required>
              <p id="email_error" style="margin-top:-20px;" class="red-text">Please Enter A Valid Email</p>
            </div>
          </div>
          <div id="question4" class="input-field col s12 m12 l4">
             <p>What kind of phone do you have?</p>
             <select class="browser-default" name="Phone Type" id="phonetype">
               <option value="">Select One</option>
               <option value="IPhone">iPhone</option>
               <option value="Android">Android</option>
               <option value="Other">Other</option>
             </select>
           </div>
           <div id="message" class="input-field col s12">
              <p>Send us a message.</p>
            <input id="additional_comments" name="Additional Comments"  type="text" class="materialize-textarea"></input>
            <button class="btn waves-effect waves-light" type="submit" >Send Message
            </button>
          </div>
          <div id="progress_div" class="col s12">
            <div id="thank_you_message" class="white-text">Thank you for your message, we got it!
            </div>
            <br>
            <div id="backButtonContainer">
              <span class="whiteButton" id="backButton">Back Button</span>
            </div><br>
            <div class="white-text left-align" id="progess_counter">1/4</div>
          </div>

      </form>

    </div>
    <br>
    <div class="row">


      <br>

    </div>
  </div>
</div>





      <!-- THANK YOU MODAL -->
    <!-- <div id="modal1" class="modal" style="background-color:white; margin-top:70px;">
       <div class="modal-content">
         <br>
         <h1>Thanks for your message.<h1>
        <p style="color: #435663; font-size: 18px;"> We'll get back to you as soon as possible.</p>
       </div>
       <div class="modal-footer" style="background-color:white;">
         <a href="#!" class="modal-action modal-close waves-effect waves-light btn">close</a>
       </div>
    </div> -->
