<div class="container">
  <div class="row">
    <h1 class="center">Try our products</h1><br>
    <form action="https://formspree.io/ari@coherohealth.com"
        method="POST" enctype="multipart/form-data" class="col s12">
      <input type="hidden" name="_next" value="/#sucess" />
       <div class="row" style="font-family: 'Open Sans', sans-serif; font-weight: 300; color: #75787B; font-size: 18px;">
         <div class="col s12">
           <div class="row">
             <div class="input-field col s12 m4 l4 ">
               <input id="name" type="text" name="name" class="validate" required>
                <label for="name">Name</label>
             </div>
             <div class="input-field col s12 m4 l4 ">
               <input id="email" type="email" name="email" class="validate" required>
               <label for="email">Email</label>
             </div>
             <div class="input-field col s12 m12 l4">
               <input id="age" type="number" min="10" max="120" class="validate" required name="age" pattern="\d+" >
               <label for="age" data-error="wrong">Age</label>
             </div>
            </div>
            <div>
              <fieldset class="input-field col s12 m4 l4 ">
                <legend>Diagnosis</legend>
                <input name="group1" type="radio" id="test1" />
                <label for="test1">Asthma</label>

                <input name="group1" type="radio" id="test2" />
                <label for="test2">COPD</label>
              </fieldset>
              <div class="input-field col s12 m4 l4 ">
                <input id="name" type="text" name="name" class="validate" required>
                 <label for="name">Name</label>
                 <ul>
                   <li>
                     <input name="group1" type="radio" id="test1" />
                     <label for="test1">Asthma</label>
                   </li>
                   <li>
                     <input name="group1" type="radio" id="test2" />
                     <label for="test2">COPD</label>
                   </li>
                   <li>
                     <input class="with-gap" name="group1" type="radio" id="test3"  />
                     <label for="test3">Rather not disclose</label>
                   </li>
                 </ul>
              </div>

            </div>


           <div class="row" style="font-family: 'Open Sans', sans-serif; font-weight: 300; color: #75787B; font-size: 14px;">
             <!-- <div class="input-field col s12 m12 l4">
               <p>Diagnosis</p>
                <select class="browser-default" name="Diagnosis" id="diagnosis" required>
                  <option value="">Select One</option>
                  <option value="Asthma">Asthma</option>
                  <option value="COPD">COPD</option>
                  <option value="Rather not disclose">Rather not disclose</option>
                </select>
              </div> -->
              <div class="input-field col s12 m12 l4">
                 <p>Phone Type</p>
                 <select class="browser-default" name="Phone Type" id="phonetype" required>
                   <option value="">Select One</option>
                   <option value="IPhone">iPhone</option>
                   <option value="Android">Android</option>
                   <option value="Other">Other</option>
                 </select>
               </div>
               <div class="input-field col s12 m12 l4">
                  <p>Reason for contatct</p>
                  <select class="browser-default" name="Reason for contact" id="reason_for_contact" required>
                    <option value="">Select One</option>
                    <option value="Want to take part in study">I want to try products by taking part in a clinical study</option>
                    <option value="something Else">Something else</option>
                  </select>
                </div>
              </div>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s12">
          <textarea id="additional_comments" name="Additional Comments"  type="text" class="materialize-textarea"></textarea>
          <label for="additional_comments">Additional Comments</label>
        </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" >Send Message
        </button>
     </form>
   </div>
</div>




<!--
  <div class="input-field col s12">

  </div>
  <div class="input-field col s12">
    <input id="email" type="email" class="validate" name="email">
    <label for="email">Email</label>
  </div>
  <div class="input-field col s12">
    <input id="Message" type="text" name="Message">
    <label for="message">Message</label>
  </div>
  <div class="col s12">
    <button class="btn waves-effect waves-light" type="submit">Submit
      <i class="material-icons right">send</i>
    </button>
  </div> -->
