<div id="turquoise_try_our_products_container" style="height:700px; background-color:#1FD9C7;">
  <div id="try_our_products" class="container section scrollspy" >
    <div class="row">
      <form action="https://formspree.io/ari@coherohealth.com"
          method="POST" enctype="multipart/form-data">
          <input type="hidden" name="_next" value="/#home_try_our_products" />
          <div style="margin-bottom:70px; color:#1FD9C7">.</div>
          <div id="question1" class="input-field col s12 m12 l8">
            <h1 id="looking_to_h2" style="font-size:18px;">Interested in our products? Let’s get started.</h1>
            <h1 class="form_h1" style="line-height:57px; margin-top:-17px;">What can we help you with?</h1>
             <div class="form_button" id="choice_try_products" style="margin-top:50px;"> Try products </div><br>
             <div class="form_button" id="choice_send_message" >Send message</div>
           </div>
           <div id="question2" class="input-field col s12 m12 l8">
            <h1 class="form_h1" style="margin-top:74px;">Great. Would you be okay to try products as part of a clinical study?</h1>
            <div style="margin-top:50px;" class="form_button" id="will_try_clinical_study">Yes</div><br>
            <div class="form_button" id="wont_try_clinical_study">No</div><br>
            <div class="form_button backButtonType2">Back</div>
          </div>
          <div id="question3" class="input-field col s12 m12 l8 question">
            <h1 class="form_h1" style="margin-top:74px;">What’s your first name?</h1>
            <input id="first_name" type="text" name="first_name" style="margin-top:30px;">
            <br>
            <div id="first_name_error" class="error_msg">Please fill out this field</div><br>
            <div style="margin-top:1px;" class="form_button nextButton">Next</div><br>
            <div class="form_button backButtonType2">Back</div>
          </div>
          <div id="question4" class="input-field col s12 m12 l8 question">
            <h1 class="form_h1" style="margin-top:74px;">Last name?</h1>
            <input id="last_name" type="text" name="last_name" style="margin-top:30px;">
            <br>
            <div id="last_name_error" class="error_msg">
              Please fill out this field
            </div><br>
            <div style="margin-top:1px;" class="form_button nextButton">Next</div><br>
            <div class="form_button backButtonType2">Back</div>
          </div>
          <div id="question5" class="input-field col s12 m12 l8 question">
            <h1 class="form_h1" style="margin-top:74px;">And your email?</h1>
            <input id="email" type="email" name="email" style="margin-top:30px;">
            <br>
            <div id="email_error" class="error_msg">Please enter a valid email</div><br>
            <div style="margin-top:1px;" class="form_button nextButton">Next</div><br>
            <div class="form_button backButtonType2">Back</div>
          </div>
          <div id="question6" class="input-field col s12 m12 l8 question">
            <h1 class="form_h1" style="margin-top:74px;">How old are you?</h1>
            <input id="age" type="text" name="age" style="margin-top:30px; width:100px;">
            <br>
            <div></div><br>
            <div style="margin-top:1px;" class="form_button nextButton">Next</div><br>
            <div class="form_button backButtonType2">Back</div>
          </div>
          <div id="question7" class="input-field col s12 m12 l8">
            <input id="diagnosis" type="hidden" name="diagnosis" value="" />
            <h1 class="form_h1" style="margin-top:74px;">What respiratory condition do you have?</h1>
            <p>
               <input name="group1" class="with-gap" type="radio" id="asthma" value="asthma" />
               <label class="radio_buttons" for="asthma"><span class="radio_buttons_text">Asthma<span></label>
             </p>
             <p>
               <input name="group1" class="with-gap" type="radio" id="copd" value="copd" />
               <label class="radio_buttons" for="copd"><span class="radio_buttons_text">COPD</span></label>
             </p>
             <p>
               <input name="group1" class="with-gap" type="radio" id="wont_disclose" value="wont_disclose" />
               <label class="radio_buttons" for="wont_disclose"><span class="radio_buttons_text">Prefer not to disclose</span></label>
             </p>
             <br><br>
             <div class="form_button backButtonType2">Back</div>
           </div>
           <div id="question8" class="input-field col s12 m12 l8">
              <input id="phoneType" type="hidden" name="phone_type" value="" />
              <h1 class="form_h1" style="margin-top:74px;">What kind of smartphone do you use?</h1>
              <p>
                 <input name="group2" class="with-gap" type="radio" id="iPhone" value="iPhone" />
                 <label class="radio_buttons" for="iPhone"><span class="radio_buttons_text">iPhone</span></label>
               </p>
               <p>
                 <input name="group2" class="with-gap" type="radio" id="android" value="Android" />
                 <label class="radio_buttons" for="android"><span class="radio_buttons_text">Android</span></label>
               </p>
               <p>
                 <input name="group2" class="with-gap" type="radio" id="not_iPhone_or_android" value="not_iPhone_or_android" />
                 <label class="radio_buttons" for="not_iPhone_or_android"><span class="radio_buttons_text">Other</span></label>
               </p>
               <br><br>
              <div class="form_button backButtonType2">Back</div>
          </div>
          <div id="additional_comments_div" class="input-field col s12">
            <h1 class="form_h1" style="margin-top:74px;">Submit your form to send us your information. You can send a message, too.</h1>
           <input id="additional_comments" name="Additional Comments"  type="text" class="materialize-textarea" style="margin-top:30px;"></input>
           <br>
           <div></div><br>
           <button style="background-color:#1FD9C7; margin-top:1px;" class="form_button subButton"  type="submit">Submit form</button><br><br>
           <div class="form_button backButtonType2">Back</div>
         </div>
           <div id="message_div" class="input-field col s12">
            <h1 class="form_h1" style="margin-top:74px;">What's your message.</h1>
            <input id="message" name="message"  type="text" class="materialize-textarea" style="margin-top:30px;"></input>
            <button class="form_button subButton" style="background-color:#1FD9C7; margin-top:35px;" type="submit">Send</button><br><br>
            <div class="form_button" id="messageBackButton">Back</div>
          </div>
          <div id="sorry_message_div" class="input-field col s12">
            <h1 class="form_h1" style="margin-top:74px;">Sorry. Right now, our products are only available through a healthcare provider or to people in clinical studies.</h1>
            <br>
           <div class="form_button" id="start_over">Start over</div>

         </div>
         <div id="thank_you_message">
           <div style="height:100px;"></div>
           <h1 class="form_h1">Thanks. Someone will be in touch soon.</h1>
         </div>
          <br>
          <div class="white-text left-align col s12" id="progress_counter" style="margin-top:50px;">
            <span id="count" style="font-weight:bold;">1</span>/7
          </div>
      </form>
    </div>
  </div>
</div>
<script src="js/patientJS/tryOurProducts.js" type="text/javascript" defer="defer"></script>
