<div id="turquoise_try_our_products_container" style="height:600px; background-color:#1FD9C7;">
  <div class="container">
    <div class="row">
      <br><br><br><br><br>

      <form action="https://formspree.io/ari@coherohealth.com"
          method="POST" enctype="multipart/form-data">
          <input type="hidden" name="_next" value="#try_our_products" />
          <div id="question1" class="input-field col s12 m12 l12">
            <h2 id="looking_to_h2">Looking to try our products? Let’s get started</h2>
             <span id="choice_try_products" class="white-text whiteButton">I would like to try products</span><br><br>
             <span id="choice_send_message" class="white-text whiteButton">I just want to send you a message</span>
           </div>
           <div id="question2" class="input-field col s12 m12 l8">
            <h2>At this time if you would like to try our products you must be willing to take part in a quick clincal study.</h2>
            <span class="whiteButton" id="try_clinical_study">Try products and take part in quick study</span><br><br>
            <span class="whiteButton" id="wont_try_clinical_study">I do not want to take part in clinical study.</span><br><br>
            <span class="whiteButton" id="backButton1">Back</span>
          </div>
          <div id="question3">
            <div class="input-field col s12 m12 l5">
              <p class="white-text">First name?</p>
              <input id="first_name" type="text" name="first_name" class="validate" required>
              <span class="whiteButton" id="backButton2">Back</span>
            </div>
          </div>
          <div id="question4">
            <div class="input-field col s12 m12 l5">
              <p class="white-text">Last name?</p>
              <input id="last_name" type="text" name="last_name" class="validate" required>
              <span class="whiteButton" id="backButton3">Back</span>
            </div>
          </div>
          <div id="question5">
            <div class="input-field col s12 m12 l5">
              <p>What's your email?</p>
              <input id="email" type="email" name="email" class="validate" required>
              <span class="whiteButton" id="backButton4">Back</span>
              <p id="email_error" style="margin-top:-20px;" class="red-text">Please Enter A Valid Email</p>
            </div>
          </div>
          <div id="question6">
            <div class="input-field col s12 m12 l4">
              <p class="white-text">What's your age?</p>
              <input id="age" type="text" name="age" class="validate" required>
              <span class="whiteButton" id="backButton5">Back</span>
            </div>
          </div>
          <div id="question7" class="input-field col s12 m12 l6">
            <input id="diagnosis" type="hidden" name="diagnosis" value="" />
            <p class="white-text">What is your diagnosis?</p>
            <p>
               <input name="group1" type="radio" id="asthma" value="asthma" />
               <label for="asthma">Asthma</label>
             </p>
             <p>
               <input name="group1" type="radio" id="copd" value="copd" />
               <label for="copd">COPD</label>
             </p>
             <p>
               <input name="group1" type="radio" id="wont_disclose" value="wont_disclose" />
               <label for="wont_disclose">Choose not to disclose</label>
             </p>
             <br><br><br>
             <span class="whiteButton" id="backButton6">Back</span>
           </div>
           <div id="question8" class="input-field col s12 m12 l6">
              <input id="phoneType" type="hidden" name="phone_type" value="" />
              <p class="white-text">What kind of phone do you have?</p>
              <p>
                 <input name="group1" type="radio" id="iPhone" value="iPhone" />
                 <label for="iPhone">iPhone</label>
               </p>
               <p>
                 <input name="group1" type="radio" id="android" value="Android" />
                 <label for="android">Android</label>
               </p>
               <p>
                 <input name="group1" type="radio" id="not_iPhone_or_android" value="not_iPhone_or_android" />
                 <label for="not_iPhone_or_android">Other</label>
               </p>
              <br><br><br>
              <span class="whiteButton" id="backButton7">Back</span>
            </div>
           <div id="message_div" class="input-field col s12">
              <p>Send us a message.</p>
            <input id="message" name="message"  type="text" class="materialize-textarea"></input>
            <button class="whiteButton" type="submit">Send Message</button>
            <span class="whiteButton" id="messageBackButton">Back</span>
          </div>
          <div id="no_clinical_study_message_div" class="input-field col s12">
            <h1>Some text here</h1>
            <br>
             <p>Send us a message.</p>
           <input id="no_clinical_study_message" name="Opt out of clinical study message"  type="text" class="materialize-textarea"></input>
           <button class="whiteButton" type="submit">Send Message</button>
           <span class="whiteButton" id="choice_try_products2">Return to try our products.</span>

         </div>
          <div id="additional_comments_div" class="input-field col s12">
             <p>Addtional Comments? Send us a message.</p>
           <input id="additional_comments" name="Additional Comments"  type="text" class="materialize-textarea"></input>
           <button class="whiteButton" type="submit">Send Message</button>
           <span class="whiteButton" id="addtionalCommentsBackButton">Back</span>
         </div>
          <div id="thank_you_message" class="white-text">Thank you for your message, we got it!
          </div>
          <br>
          <div class="blue-text left-align col s12" id="progress_counter" style="margin-top:50px;">1/7
          </div>
          <div class="col s12" style="margin-top:60px; background-color:#0a50a5; height:1px;"></div>


      </form>
    </div>
  </div>
</div>





      <!-- THANK YOU MODAL -->
    <!-- <div id="modal1" class="modal" style="background-color:white; margin-top:70px;">
       <div class="modal-content">
         <br>
         <h1>Thanks for your message.<h1>
        <p style="color: #435663; font-size: 18px;"> We'll get back to you as soon as possible.</p>
       </div>
       <div class="modal-footer" style="background-color:white;">
         <a href="#!" class="modal-action modal-close waves-effect waves-light btn">close</a>
       </div>
    </div> -->
