<header>
  <div class="navbar-fixed">
    <nav id="navbar">
       <div class="nav-wrapper">
         <!-- MOBILE -->
         <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
         <ul data-activates="mobile-demo">
           <!-- <li><a id="health_care_link_mobile" href="health_care" class="hide-on-large-only">For Healthcare </a></li> -->
           <li><a href="https://mte.cohero-health.com" class="hide-on-large-only">Log in </a></li>
          </ul>

          <!-- MOBILE -->
          <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="products" class="nav_link">Products</a></li>
            <li><a href="about">About</a></li>
            <li><a href="press">Press</a></li>
            <!-- <li><a href="resources">Resources</a></li> -->
            <li><a href="contact">Contact</a></li>
          </ul>

          <!-- NONMOBILE -->
         <div id="navbar-top" class="hide-on-med-and-down">
           <div id="navbar-first-col">
             <a href="/" style="margin-top:0px;"><img width="191.35px;" src="images/logoblue@2x.png"></a>
           </div>
           <div id="navbar-second-col">
             <a href="products">Products</a>
             <a href="about">About</a>
             <a href="press">Press</a>
             <!-- <a href="resources" style="felx:1" >Resources</a> -->
             <a href="contact">Contact</a>
           </div>
           <div align="right" id="navbar-third-col">
             <!-- <a href="health_care" >For Healthcare</a> -->
             <a id="login_button" href="https://mte.cohero-health.com">Login</a>
           </div>
         </div>
         <!-- MOBILE -->

       </div>
     </nav>
   </div>
 </header>
