<header>
  <div class="navbar-fixed">
    <nav id="navbar">
       <div class="nav-wrapper">
         <!-- MOBILE -->
         <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
         <ul data-activates="mobile-demo" style="line-height: 2;">
           <!-- <li><a style="margin-top:20px;" id="health_care_link_mobile" href="health_care" class="hide-on-large-only hvr-underline-from-center">For Healthcare </a></li> -->
           <li><a style="margin-top:20px;" id="login_link_mobile" href="https://mte.cohero-health.com" class="hide-on-large-only hvr-underline-from-center">Log in </a></li>
          </ul>

          <!-- MOBILE -->
          <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="products" class="nav_link">Products</a></li>
            <li><a href="about">About</a></li>
            <li><a href="press">Press</a></li>
            <!-- <li><a href="resources">Resources</a></li> -->
            <li><a href="contact">Contact</a></li>
          </ul>

          <!-- NONMOBILE -->
         <ul class="left hide-on-med-and-down" style="line-height: 2;">
           <li><a id="cohero_logo" class="nav_link hvr-underline-from-center" href="/"><img width="234.56px;" src="images/logo.png" alt=""></a></li>
           <li><a href="products" class="nav_link hvr-underline-from-center" id="products_link_desktop">Products</a></li>
           <li><a href="about" class="hvr-underline-from-center">About</a></li>
           <li><a href="press" class="hvr-underline-from-center">Press</a></li>
           <!-- <li><a href="resources" class="hvr-underline-from-center">Resources</a></li> -->
           <li><a href="contact" class="hvr-underline-from-center">Contact</a></li>
         </ul>
         <ul class="right hide-on-med-and-down" style="line-height: 2;">
           <!-- <li><a href="health_care" class="hvr-underline-from-center">For Healthcare</a></li> -->
           <li><a id="login_button" class="waves-effect waves-light btn hvr-underline-from-center" href="https://mte.cohero-health.com">Login</a></li>
         </ul>
         <!-- MOBILE -->

       </div>
     </nav>
   </div>
 </header>
