<div class="navbar-fixed">
  <nav>
     <div class="nav-wrapper blue darken-4">
       <!-- MOBILE -->
       <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
       <ul data-activates="mobile-demo">
         <li><a href="/"  class="right button-collapse">For patients </a></li>
         <li><a href="#"  class="right button-collapse">Log in </a></li>
        </ul>

        <!-- MOBILE -->
        <ul class="side-nav" id="mobile-demo">
          <li><a href="health_care">logo</a></li>
          <li><a href="help">How we help</a></li>
          <li><a href="demo">Demo</a></li>
          <li><a href="about_client">About</a></li>
          <li><a href="press">Press</a></li>
          <li><a href="learn_more">Learn More</a></li>
        </ul>

        <!-- NONMOBILE -->
       <ul class="left hide-on-med-and-down">
         <li><a href="health_care">logo</a></li>
         <li><a href="help">How we help</a></li>
         <li><a href="demo">Demo</a></li>
         <li><a href="about_client">About</a></li>
         <li><a href="press">Press</a></li>
         <li><a href="learn_more">Learn More</a></li>
       </ul>
       <ul class="right hide-on-med-and-down">
         <li><a href="/">For patients</a></li>
         <li><a href="products">Login</a></li>
       </ul>
       <!-- MOBILE -->

     </div>
   </nav>
 </div>
