<br>
<div class="container">
  <div class="center row">
    <div class="col s12">
      <div class="col s2">
      </div>
      <div class="col s8">
        <h4 >Contact Page.</h4>
        <p class="flow-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat felis.
        </p>
      </div>
      <div class="col s2">
      </div>
    </div><br>
  </div>
</div>



<script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=b0d8b004-c89a-44ea-4cb3-63813c5cbb89&c=google-maps-code&u=1474567769" defer="defer" async="async"></script>

<div class="container">
  <div class="row">
    <div class="col s12">
        <div class="col l6 m6 s12">
          <div style="width:500px;overflow:hidden;height:350px;max-width:100%;">
            <div id="gmap-canvas" style="height:100%; width:100%;max-width:100%;">
              <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Grand+Central+Tech,+Madison+Avenue,+New+York,+NY,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
            </div>
            <a class="google-maps-code" rel="nofollow" href="https://www.interserver-coupons.com" id="authorize-map-data">InterserverCoupons</a>
            </div>
        </div>
        <div class="col l6 m6 s12">
          <br>
          <h5>Contact Us</h5>
            <form action="https://formspree.io/ariingber@gmail.com"
                method="POST" enctype="multipart/form-data">
              <input type="hidden" name="_next" value="/contact" />
              <div class="input-field col s12">
                <input id="name" type="text" name="name">
                <label for="name">Name</label>
              </div>
              <div class="input-field col s12">
                <input id="email" type="email" class="validate" name="email">
                <label for="email">Email</label>
              </div>
              <div class="input-field col s12">
                <input id="Message" type="text" name="Message" length="120">
                <label for="message">Message</label>
              </div>
              <div class="col s12">
                <button class="btn waves-effect waves-light" type="submit">Submit
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </form>
          </div>
    </div><br>
  </div>
</div>
