<footer class="page-footer" style="font-size:11px; margin-top:-20px;">
   <div class="container">
     <div class="row white-text">
       <div class="col s12 center">
        <div id="footer_list" class="hide-on-small-only">
         <div class="col s1">
         </div>
         <div class="col s3" style="text-align:left;">
           <p style="font-weight:700;"> Home </p>
           <p> Who is Cohero Health? </p>
           <p> How we integrate </p>
           <p> Our products </p>
           <p> Our team </p>
           <p> What patients say </p>
           <p> Companies </p>
           <p> Try our products </p>
         </div>
         <div class="col s2" style="text-align:left;">
           <p style="font-weight:700;"> About </p>
           <p> Our mission </p>
           <p> Our story </p>
           <p> Team </p>
           <p> Advisors </p>
           <p> Investors </p>
         </div>
         <div class="col s2" style="text-align:left;">
           <p style="font-weight:700;"> Press </p>
           <p> In the news </p>
           <p> What patients say </p>
           <p> Press Releases </p>
         </div>
         <div class="col s2" style="text-align:left;">
           <p style="font-weight:700;"> Resources </p>
           <p> Guides </p>
           <p> Whitepapers </p>
           <p> User Manuals </p>
         </div>
         <div class="col s2" style="text-align:left;">
           <p style="font-weight:700;"> Contact </p>
           <p> Get in touch </p>
         </div>
       </div>
       <div class= "center col s12">
         <br><br><br>
         <img src="images/app_store_button.png" width="124px;" alt="">
         <img src="images/google_play_button.png" width="124px;" alt="">
         <br><br><br>
         <p>
           All Rights Reserves Cohero Health 2016 | info@coherohealth.com
         </p>
       </div>
       <div class= "col s12" style="margin-top:25px;">
         <div class="col s3 hide-on-small-only" style="text-align:left;">
           <p style="font-size:13px;"> Contact Us </p>
           <p style="font-size:11px;"> Need to get in touch with us? <br> You can shoot us an email or call us!</p>
         </div>
         <div class="col s6" style="text-align:left;">
           <!-- USING THIS TO MAKE SURE EVERYTHING PERFECTLY ALIGN -->
           <p style="font-size:13px; color:#063573;">_</p>
           <!-- ********************************************************* -->
           <p style="font-size:11px;"> Cohero Health. 335 Madison Avenue, New York, NY 10017  (212) 6234578 <br> contact@coherohealth.com</p>
         </div>
         <div class="col s3" style="text-align:left;">
           <!-- USING THIS TO MAKE SURE EVERYTHING PERFECTLY ALIGN -->
           <p style="font-size:13px; color:#063573;">_</p>
           <!-- ********************************************************* -->
            <div style="margin-top:-6px;" class="hide-on-small-only">
              <span class="hide-on-med-and-down" style="position:absolute; margin-top:5px;">#breathsmarter</span>
              <div style="margin-left:85px;">
                <a><img src="images/facebookicon.png" width="25px;" alt="" ></a>
                <a><img src="images/linkedinicon.png" width="25px;" alt="" ></a>
                <a><img src="images/twittericon.png" width="25px;" alt="" ></a>
              </div>
            </div>
         </div>
       </div>
    </div>
  </div>
   <div class="footer-copyright">
     <!-- CAN PUT STUFF IN HERE -->
    </div>
 </footer>
