<div class="container" style="font-size:13px; line-height:1;">
  <div class="row">
    <div class="col s12 center">
      <div class="col s1">
      </div>
      <div class="col s3" style="text-align:left;">
        <p> Home </p>
        <p> Who is Cohero Health? </p>
        <p> How we integrate </p>
        <p> Our products </p>
        <p> Our team </p>
        <p> What patients say </p>
        <p> Companies </p>
        <p> Try our products </p>
      </div>
      <div class="col s2" style="text-align:left;">
        <p> About </p>
        <p> Our mission </p>
        <p> Our story </p>
        <p> Team </p>
        <p> Advisors </p>
        <p> Investors </p>
      </div>
      <div class="col s2" style="text-align:left;">
        <p class="bold"> Press </p>
        <p class="light"> In the news </p>
        <p class="light"> What patients say </p>
        <p class="light"> Press Releases </p>
      </div>
      <div class="col s2" style="text-align:left;">
        <p class="bold"> Resources </p>
        <p class="light"> Guides </p>
        <p class="light"> Whitepapers </p>
        <p class="light"> User Manuals </p>
      </div>
      <div class="col s2" style="text-align:left;">
        <p class="bold"> Contact </p>
        <p class="light"> Get in touch </p>
      </div>
      <!-- <div class="col s2">
        <p class="bold"> Home </p>
        <p class="light"> Who Deos The? </p>
        <p class="light"> Monkey </p>
        <p class="light"> Purple </p>
      </div> -->
    </div>
  </div>
</div>
<br>
<br>
<div class="container center">
  <div class="row center">
    <div class="col s12">
      <a class="waves-effect waves-light btn">googleplay</a>
      <a  class="waves-effect waves-light btn">applestore</a>
    </div>
  </div>
</div>

<footer class="page-footer blue darken-4">
   <div class="container">
     <div class="row">
       <div class="col l6 s12">
         <h5 class="white-text">Contacts</h5>
         <p class="grey-text text-lighten-4">Fuzzy wazzy was a bawrle;kjvd;alsng  sakdlfj</p>
       </div>
       <div class="col l4 offset-10 s12">
         <br>
         <ul>
           <li><a class="grey-text text-lighten-3" href="#!">contact@bird.net</a><div style="margin-left:30px; display:inline" ><i class="material-icons">add</i><i class="material-icons">add</i></div></li>
           <li><a class="grey-text text-lighten-3" href="#!">(xxx)xxx-xxxx</a></li>
           <li><a class="grey-text text-lighten-3" href="#!">address at monea;jsdf lane</a></li>
         </ul>
       </div>
     </div>
   </div>
   <div class="footer-copyright">
     <div class="container">
     </div>
   </div>
 </footer>
