<div class="navbar-fixed">
  <nav>
     <div class="nav-wrapper blue darken-4">
       <!-- MOBILE -->
       <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
       <ul data-activates="mobile-demo">
         <li><a href="health_care">For Healthcare </a></li>
         <li><a href="#">Log in </a></li>
        </ul>

        <!-- MOBILE -->
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">Home</a></li>
          <li><a href="products">Products</a></li>
          <li><a href="about">About</a></li>
          <li><a href="press">Press</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>

        <!-- NONMOBILE -->
       <ul class="left hide-on-med-and-down">
         <li><a href="/">logo</a></li>
         <li><a href="products">Products</a></li>
         <li><a href="about">About</a></li>
         <li><a href="press">Press</a></li>
         <li><a href="resources">Resources</a></li>
         <li><a href="contact">Contact</a></li>
       </ul>
       <ul class="right hide-on-med-and-down">
         <li><a href="health_care">For HealthCare</a></li>
         <li><a style="border-radius:5px !important;" class="purple lighten-3 waves-effect waves-light btn" href="products">Login</a></li>
       </ul>
       <!-- MOBILE -->

     </div>
   </nav>
 </div>
