<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../css/materialize.css">
</head>
<body>
  <div style="container">
    <br>
    <div class="row center">
      <h3>Cohero Videos</h3>
    </div>
    <br>
    <div class="row center">
      <video controls="controls" width="300" name="Video 1" src="../PEFVideo.mov"></video>
    </div>
  </div>

</body>
</html>
