body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  /*color: #75787B;*/
  color: #435663;
  font-size: 18px;
}

#navbar {
  height: 90px;
  background-color: #0a50a5;
}

#blue_welcome_screen {
  color: #ffffff;
  background-color: #0a50a5;
}

#inner {
  width: 55%;
  margin: 0 auto;
}
#inner_pic_hardware {
  width: 46%;
  margin: 0 auto;
}
#inner_pic_team {
  width: 66%;
  margin: 0 auto;
}

.try_our_products_label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #435663;
  font-size: 14px;
}

@media (max-width: 995px) {
  #navbar {
    height: 68px;
  }
}

@media (max-width: 700px) {
  #inner {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .pic {
    width: 100% !important;
  }
}

@media (max-width: 700px) {
  #videomodal {
    width: 100% !important;
  }
}

#learnMoreButtonGrey {
  font-size:15px;
  border:solid #C7C7C7 1px;
  padding:10px 30px 10px 30px;
  border-radius:10px;
  color: #75787B;
}

@media (max-width: 1100px) {
  #our_team_col {
    margin-top: -65px;
  }
}

h1 {
  font-family: 'museo-rounded-300', sans-serif;
  font-size: 30px;
  color: #004da8;
}

h2 {
  font-family: 'museo-rounded-300', sans-serif;
  font-size: 24px;
  color: #004da8;
}
.tile {
  padding:18px;
  width:210px;
  height:210px;
  border-radius:8px;
}
.tile_title {
  font-size: 24px;
  line-height: 28px;
  font-family: 'museo-rounded-300', sans-serif;
  color: white;
}
.tile_sub_text {
  font-size: 12px;
  color: #004da8;
}
.press_quote_text_box {
  height: 155px;
}

header nav ul li a {
  margin-top: 32px;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #ffffff;
  margin-left: 11px;
  margin-right: 11px;
}

#cohero_logo {
  margin-top:23px;
  /*margin-left: 33.5px;
  margin-top: 38.7px;*/
}
#cohero_logo:hover {
  background-color: transparent;
}

#products_link_desktop {
  margin-left: 111px;
}


#login_button {
  margin-top: 25px;
  margin-right: 40px;
  background-color: #b997cd !important;
}


@media (max-width: 1200px) {
  #products_link_desktop {
    margin-left: 0px;
  }

}

@media (max-width: 1075px) {
  #products_link_desktop {
    margin-left: -30px;
  }
  #login_button {
    margin-right: 0px;
  }

}


/*overriding materialize box shadow here*/
.btn{
  background-color: #b997cd !important;
  border-radius:2px;
  font-size: 13px;
  box-shadow: none;
}

.btn:hover {
  /*box-shadow: none;*/
}

#GetToKnowCoHero {
  font-family: 'museo-rounded-300', roboto;
  font-size: 36px;
  color: white;
  margin-top: 37.7px;
}
@media (max-width: 900px) {
  #GetToKnowCoHero  {
    margin-top: 0px;
  }
}

@media (max-width: 450px) {
  #GetToKnowCoHero  {
    margin-top: -35px;
  }
}

#mobile_slide_icon {
  background-color: white;
  height: 400px !important;
}

#health_care_link_mobile {
  margin-top:0;
}
#login_link_mobile {
  margin-top:0;
}

#what_is_content_outer {
  position: relative;

}
#what_is_content_inner {
  width: 265px;
  height: auto;
  margin: 0 auto;
  padding: 5px;
  position: relative;
}

#card_outer {
  position: relative;
}
#card_inner {
  z-index: 10;
  width:46px;
  height: auto;
  margin: 0 auto;
  right:25px;
  top:25px;
  padding: 5px;
  position: absolute;
}

/*#outer_press_release {
  position: relative;
}*/

/*#inner_press_release_arrow_left {
  z-index: 10;
  height: auto;
  margin: 0 auto;
  left:150px;
  top:275px;
  position: absolute;
}

#inner_press_release_arrow_right {
  z-index: 10;
  height: auto;
  margin: 0 auto;
  right:170px;
  top:275px;
  position: absolute;
}*/

#readBio {
  font-size:15px;
  border:solid #C7C7C7 1px;
  padding:10px 30px 10px 30px;
  border-radius:10px;
  color: #75787B;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

/*this is css taken and repeated from materialize but backround color changed and made important*/
footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #063573 !important;
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: #063573 !important;
}
