#navbar {
  height: 148px;
  background-color: #0a50a5 !important;
}

#blue_welcome_screen {
  color: #ffffff;
  background-color: #0a50a5 !important
}

h1 {
  font-family: .SFNSDisplay-Regular;
  font-size: 36px;
  color: #002047;
}

p {
  font-size:18px;
  font-family: 'Open Sans', sans-serif;
}

header nav ul li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #ffffff;
  margin-left: 11px;
  margin-right: 11px;
}
#login_button {
  border-radius:2px;
}



/*/////////////////////*/
header nav ul li a {
  margin-top: 35.7px;
}
.cohero_logo_white_01 {
  margin-left: 33.5px;
  margin-top: 38.7px;
}

#products_link_desktop {
  margin-left: 111px;
}

@media (max-width: 1200px) {
  #products_link_desktop {
    margin-left: 5px;
  }
}

#login_button {
  margin-top: 47.7px;
}
#GetToKnowCoHero {
  margin-top: 187.7px;
}
#health_care_link_mobile {
  margin-top:0;
}
#login_link_mobile {
  margin-top:0;
}
