@font-face {font-family: 'museo-rounded-100';
src: url('../fonts/museo/MuseoSansRounded-100.otf');
}
@font-face {font-family: 'museo-rounded-300';
src: url('../fonts/museo/MuseoSansRounded-300.otf');
}
@font-face {font-family: 'museo-rounded-500';
src: url('../fonts/museo/MuseoSansRounded-500.otf');
}

/*SPACING BREAKS FOR DIFFERENT SIZE DEVICES*/
.min-space {
  height:80px;
}

.subtract-from-phone {
  height:150px;
}
.subtract-from-tablet {
  height:150px;
}
/*/////////////////////////////////////////////*/


/*nab bar items*/
#navbar {
  height: 163px;
  background: white;
}
#navbar-top {
  display:flex;
  margin-top:45px;
}
#navbar-first-col{
  flex:2;
  margin-left:40px;
}
#navbar-second-col{
  flex:4;
}
#navbar-third-col{
  flex:2;
  margin-right:60px;
}
#navbar a {
  margin-top: 32px;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #435663;
  margin-left: 25px;
  margin-right: 25px;
}

#navbar a:hover {
  color:#1F2930;
}

#mobile-demo{
  background: #004DA8;
}
#mobile-demo a{
  background: #004DA8;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}
/*///////////////////*/


/*GLOBAL FONTS*/
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 31px;
  /*color: #75787B;*/
  color: #435663;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-family: 'museo-rounded-300', sans-serif;
  font-size: 30px;
  line-height: 35px;
  color: #004da8;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-family: 'museo-rounded-300', sans-serif;
  font-size: 24px;
  color: #004DA8;
  -webkit-font-smoothing: antialiased;
}
.line24 {
  line-height: 24px;
}
.line36 {
  line-height: 36px;
}
.line31 {
  line-height: 31px;
}
/*///////////////////*/


/*INDEX PAGE */
#atCohero {
  font-family: 'museo-rounded-300';
  font-size: 40px;
  line-height: 48px;
  color: #0350AA;
  -webkit-font-smoothing: antialiased;
}
/*//////////////////////////////*/
#atCoheroMobile {
  font-family: 'museoSansrounded-500';
  font-size: 24px;
  color: #0350AA;
  line-height: 31px;
  -webkit-font-smoothing: antialiased;
}
.slide_text {
  font-family: 'Open Sans' !important;
  font-weight: 300 !important;
  font-size: 14px !important;
  color: #435663 !important;
  line-height: 19px !important;
}
/*////////////////////////////////*/
#build_better_habbits_carousel_ipad {
  height:460px !important;
}
      /*on hover quote arrows*/
.quoteArrowDown{
  position: relative;
  top:0;
}
.shownArrow {
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid #F7F7F7;
}
.testimonial_slider ul.indicators {
  margin-left: -50px !important;
}
#what_is_content_outer {
  position: relative;
}
#what_is_content_inner {
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding: 5px;
  position: relative;
}
#what_is_content_inner_track {
  width: 310px;
  height: auto;
  margin: 0 auto;
  padding: 5px;
  position: relative;
}
/*////////////////////////////////*/


/*PRODUTCS PAGE*/
#breathsmart_carousel_ipad {
  height:240px !important;
}


/*ABOUT PAGE*/
.card {
  text-align:center;
  max-width:390px;
}
.card-text {
  background-color:#004DA8 !important;
  color:white;
  font-size:16px;
  padding:27px;
  line-height:24px;
  font-family: 'Open Sans';
  text-align:left;
}
#card_outer {
  position: relative;
}
#card_inner {
  z-index: 10;
  width:46px;
  height: auto;
  margin: 0 auto;
  right:35px;
  top:35px;
  padding: 5px;
  position: absolute;
}

/*PRESS PAGE*/
.loadDiv_margin {
  margin-top:43px;
}
.loadDiv_link {
  color:#004DA8;
}
.loadDiv_underline {
  width:100%;
  margin-top:10px;
  height:1px;
  background: #F2F2F2;
}

.tile {
  padding:30px;
  width:317.72px;
  height:312.88px;
  border-radius:8px;
}
.tile_title {
  text-align: left;
  font-size: 30px;
  line-height: 35px;
  font-family: 'museo-rounded-300', sans-serif;
  color: white;
}
.tile_sub_text {
  font-family: 'museo-rounded-500', sans-serif;
  letter-spacing: 1.9px;
  text-align: left;;
  font-size: 14px;
  color: #0350AA;
}
.tile_mobile {
  padding:15px;
  width:200px;
  height:200px;
  border-radius:8px;
}
.tile_title_mobile {
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  font-family: 'museo-rounded-300', sans-serif;
  color: white;
}
.tile_sub_text_mobile {
  text-align: left;;
  font-size: 14px;
  color: #0350AA;
}

.press_quote_text_box {
  height: 155px;
}
#press_release_arrow_right:hover {
  cursor: pointer;
}
#press_release_arrow_left:hover {
  cursor: pointer;
}
#quote_credit {
  margin-left: 15px;
  margin-top: 10px;
  font-family: 'museo-rounded-300', sans-serif;
  color: #0350AA;
  font-size: 18px;
}
/*///////////////*/


/*THESE ARE ON ALL PICTURES NEED TO BE RENAMED*/
#inner {
  width: 55%;
  margin: 0 auto;
}
#inner_pic_hardware {
  width: 46%;
  margin: 0 auto;
}
#inner_pic_team {
  width: 66%;
  margin: 0 auto;
}
/*/////////////////////*/

/*FORM STYLES *****************/
.form_h1{
  line-height:57px;
  color: white;
  font-size: 48px;
}

.try_our_products_label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #435663;
  font-size: 14px;
}
.error_msg{
  font-family: 'Open Sans';
  font-weight:400;
  font-size: 18px;
  color: #001999;

}
.radio_buttons {
  margin-left: -15px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
}
.radio_buttons_text {
  margin-left: 25px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
}


/*BUTTONS ************************/
#learnMoreButtonGrey {
  font-size:15px;
  border:solid #C7C7C7 1px;
  padding:12px 26px 12px 26px;
  border-radius:8px;
  color: #75787B;
}
#learnMoreButtonGrey:hover {
  border:solid #435663 1px;
  /*background-color: #F5F5F5;*/
  color: #435663;
}

#submitButton {
  font-size:15px;
  border:solid #C7C7C7 1px;
  padding:10px 30px 10px 30px;
  border-radius:10px;
  color: #75787B;
}

#contactSendButton {
  font-size:16px !important;
  line-height: 22px;
  border:solid #C7C7C7 1px;
  padding:10px 55px 13px 55px;
  border-radius:8px;
  color: #75787B;
  background: white;
}

.greyButton {
  font-size:15px !important;
  border:solid #C7C7C7 1px;
  padding:12px 26px 12px 26px;
  border-radius:8px;
  color: #75787B;
  background-color: white;
}
/*overriding materialize box shadow here*/
.btn{
  background-color: #b997cd !important;
  border-radius:2px;
  font-size: 13px;
  box-shadow: none;
}

.btn:hover {
  /*box-shadow: none;*/
}

#readBio {
  font-size:16px;
  line-height: 22px;
  border:solid #C7C7C7 1px;
  padding:10px 35px 10px 35px;
  border-radius:8px;
  color: #75787B;
}

#loadMoreButton {
  font-size:15px;
  border:solid #C7C7C7 1px;
  padding:12px 26px 12px 26px;
  border-radius:8px;
  color: #75787B;
}
#loadMoreButton:hover {
  border:solid #435663 1px;
  color: #435663;
}
.whiteButton {
  margin-top:-20px;
  font-size:15px;
  /*width:200px !important;*/
  width:160px !important;
  text-align: center;
  border:solid white 1px;
  padding:13px 28px 13px 28px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
.whiteButton:hover {
  color: #1FD9C7 !important;
  background-color: white;
}
.form_button {
  font-family: 'Open Sans';
  font-weight: 600;
  margin-top:-20px;
  font-size:15px;
  width:170px !important;
  text-align: center;
  border:1px solid #FFFFFF;
  padding:13px 28px 13px 28px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
.form_button:hover {
  color: #1FD9C7 !important;
  background-color: white;
}


.subButton:hover {
  color: #1FD9C7 !important;
  background-color: white !important;
}
.whiteCloseButton {
  color: #75787B;
  font-size:16px !important;
  line-height: 22px;
  border:solid white 1px;
  padding:10px 35px 10px 35px;
  border-radius:8px;
  color: white;
  cursor: pointer;
}
#login_button {
  border:solid #C7C7C7 1px;
  color: #75787B;
  font-size:15px;
  line-height: 22px;
  padding:10px 46px 13px 46px;
  border-radius:8px;
  margin-top: 25px;
  margin-right: 40px;
}
#login_button:hover {
  border:solid #435663 1px;
  color: #435663;
}

/*NOT SURE WHAT THIS IS FOR*/

/*//////////////////////////*/


/*This is for the nav bar helper*/
#arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #df696e;
}

/*FOOTER*/
.footer-col-container {
  display: flex;
}
.bottom-footer-text a {
  font-family: 'Open Sans';
  line-height: 18px;
  font-size:13px;
  flex: 1;
  color: white;
}
.footer-col {
  font-family: 'Open Sans';
  line-height: 18px;
  font-size:13px;
  flex: 1;
  color: white;
}
.footer-col a {
  display: block;
  font-family: 'Open Sans';
  line-height: 40px;
  font-size:13px;
  flex: 1;
  color: white;
}
/*this is css taken and repeated from materialize but backround color changed and made important*/
.footer-bold {
  font-weight: 400;
}
footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #004DA8 !important;
}
footer.page-footer .footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: #004DA8 !important;
}


/*MEDIA QUERIES **********************/
#ourFoundersLarge {
    display:none;
}

@media screen and (min-width:1288px){
    #ourFoundersLarge {
        display:block;
    }
}


@media (max-width: 900px) {
  #atCohero  {
    margin-top: 0px;
  }
}

@media (max-width: 1100px) {
  #our_team_col {
    margin-top: -65px;
  }
}

@media (max-width: 450px) {
  #atCohero  {
    margin-top: -35px;
  }
}
@media (max-width: 995px) {
  .testimonial_slider ul.indicators {
    display: none;
  }
}

@media (max-width: 995px) {
  #navbar {
    height: 65px;
  }
}
@media (max-width: 995px) {
  h1 {
    font-family: 'museo-rounded-300';
    font-size: 25px;
    color: #004DA8;
    line-height: 31px;
  }
  body {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    color: #435663;
    line-height: 19px;
  }
  .text-align-center {
    text-align: center !important;
  }
  .extra_distance{
    margin-top: 20px;
  }
  .habits_mobile {
  }
}

@media (max-width: 700px) {
  #inner {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .pic {
    width: 100% !important;
  }
}

@media (max-width: 700px) {
  #videomodal {
    width: 100% !important;
  }
}

/*HOVER*/
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*hash anchor offsets*/
.footer_link {
  display: block;
  position: relative;
  visibility: hidden;
}
a#our_platform {
  top: 75px;
}
a#our_products {
    top: -175px;
}
a#our_team {
    top: -175px;
}
a#what_people_say{
  top: -175px;
}
a#what_patients_say {
  top: -75px;
}
a#home_press {
  top: -175px;
}
a#home_try_our_products {
  top: -175px;
}

a#breathesmart {
  top: 465px;
}
a#mspirometer {
  top: 0px;
}
a#products_try_our_products {
  top: -175px;
}

a#founders {
  top: 250px;
}
a#team {
  top: -200px;
}
a#partners {
  top: 100px;
}
a#about_try_our_products {
  top: -175px;
}

a#what_patients_say{
  top: -175px;
}
a#press_try_our_products {
  top: -275px;
}

a#send_message {
  top: -275px;
}
