@font-face {
    font-family: "open-sans-light";
    src: url("../fonts/open-sans/OpenSans-Light.ttf");
}

@font-face {font-family: 'museo-rounded-100';
src: url('../fonts/museo/MuseoSansRounded-100.otf');
}
@font-face {font-family: 'museo-rounded-300';
src: url('../fonts/museo/MuseoSansRounded-300.otf');
}
@font-face {font-family: 'museo-rounded-500';
src: url('../fonts/museo/MuseoSansRounded-500.otf');
}

#arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #df696e;
}
