nav ul li a {
  font-family: 'open-sans-light', sans-serif;
  font-size: 14px;
}

body {
  font-family: 'century-gothic', sans-serif;
}

@font-face {
    font-family: "century-gothic";
    src: url("../fonts/century-gothic/Gothic.TTF");
}

@font-face {
    font-family: "open-sans-light";
    src: url("../fonts/open-sans/OpenSans-Light.ttf");
}

#arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #df696e;
}
