<!DOCTYPE html>
<html lang="en">
<%- include ../globalPartials/head %>
<body>
  <div id="turquoise_try_our_products_container" style="height:700px; background-color:#1FD9C7;">
    <div class="container">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/screen.js"></script>
      <form id="input-form" action="" method="POST" target="no-target">
        <div style="margin-bottom:70px; color:#1FD9C7">.</div>
        <div id="question1" class="input-field col s12 m12 l8">
          <h1 id="looking_to_h2" style="font-size:18px;">Screening Questionnaire- Will be available to potential participants to self- screen on a website

Thank you for your interest about our research study, “Assessing the Use of Mobile Technology

in Adult Asthma Patients: An Observational Study”. 

The purpose of this study is to understand whether the use of a smartphone-based program can

help remind you to use your daily asthma controller medication.  Participation in this study

would last about 6 months.  

To see if you might qualify for this study, I need to ask you some questions about your health

history and present condition. Some of these questions may be sensitive, such as questions about

your current asthma condition, what medication you are taking, how long you have been

diagnosed with asthma and if applicable whether you are pregnant or planning on becoming

pregnant.  You do not have to answer any questions you do not want to answer. You may stop at

any time. If you do not qualify for this study, the information you provided will not be saved.</h1>
           <div class="form_button" id="choice_try_products" style="margin-top:50px;"> Continue </div><br>
         </div>
         <div id="question2" class="input-field col s12 m12 l8">
          <h1 id="looking_to_h2" style="font-size:18px;">Some more info before continue...</h1>
          <div style="margin-top:50px;" class="form_button" id="will_try_clinical_study">Continue</div><br>
          <div class="form_button" id="wont_try_clinical_study">No</div><br>
          <div class="form_button backButtonType2">Back</div>
        </div>
        <div id="question3" class="input-field col s12 m12 l8 question">
          <h1 class="form_h1" style="margin-top:74px;">How old are you?</h1>
          <input id="input-q1" name="q1">
          <div id="first_name_error" class="error_msg">Please fill out this field</div><br>
          <div style="margin-top:1px;" class="form_button nextButton">Next</div><br>
          <div class="form_button backButtonType2">Back</div>

        </div>
        <div id="question4" class="input-field col s12 m12 l8 question">
          <h1 class="form_h1" style="margin-top:74px;">What is your name?</h1>
          <input id="input-q2" name="q2">
          <div style="margin-top:1px;" class="form_button nextButton">Next</div><br>
          <div class="form_button backButtonType2">Back</div>
          <button id="form-submit" type="submit">SUBMIT</button>

        </div>

      </form>

      <p id="input-feedback"></p>

      <iframe src="#" id="no-target" name="no-target" style="visibility:hidden"></iframe>

      <script>
          $('#input-form').one('submit',function(){
              var inputq1 = encodeURIComponent($('#input-q1').val());
              var inputq2 = encodeURIComponent($('#input-q2').val());
              var q1ID = "entry.631814308";
              var q2ID = "entry.1397721169";
              var baseURL = 'https://docs.google.com/forms/d/10_hhoF8phJjX3ufiTAXeZ-M0EfJ97FEuIu1lqFyrhSQ/formResponse?';
              var submitRef = '&submit=Submit';
              var submitURL = (baseURL + q1ID + "=" + inputq1 + "&" + q2ID + "=" + inputq2 + submitRef);
              $(this)[0].action=submitURL;
              $('#input-feedback').text('Thank You!');
          });
      </script>

    </div>
  </div>
</body>
</html>
