<!DOCTYPE html>
<html lang="en">
<%- include ../globalPartials/head %>
<body>
  <%- include ../patient/generalPatientPartials/nav %>
  <br>
  <br>
  <br><br><br><br><br>
    <div class="container hide-on-med-and-down">
      <div class="row">
        <div class="col s12">
          <div class="col s5" id="our_team_col">
            <h1 style="text-align:left;">We’re passionate about respiratory health and technology.</h1>
            <p style="text-align:left;">
              Our team of technologists, doctors, designers, and clinicians is on a mission to transform respiratory disease management through mobile technology.
            </p>
          </div>
          <div class="col s7" style="max-width:500px">
            <img style="text-align:left; margin-top:-100px;" width="100%" src="images/team.png">
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br>


<!-- <div style="background-color:#F7F7F7; width:100%; display:flex; flex-flow: row wrap; justify-content: space-around;">
  <div style="width:800px; height:650px">
    <img src="images/cofounders.png" width="800px;" alt="">
  </div>
  <div style="width:40%; height:650px;">
    <br><br><br><br><br><br>
    <h1>Our Co-Founders</h1>
    <p>
      Melissa Manice spent a decade researching obstacles respiratory disease management and holds a PhD in Clinical and Translational Research from Mount Sinai. Melissa jumped into the technology space to create solutions for patient health, after spending so long studying the challenges.
    </p>
    <p>
      Dan Weinstein holds an MBA in Health Sector Management from Duke University and a BA in the biological basis of behavior from the University of Pennsylvania. He commercialized new technologies at Stanford University’s Office of Technology Licensing where he helped to launch two successful startups. Dan and Melissa met while working in at Mount Sinai Hospital.
    </p>
  </div>
</div> -->

<div style="background-color:#F7F7F7;">
  <div style="width:50%; margin-left:2%; text-align:center; display: inline-block;">
    <img src="images/cofounders.png" width="100%;" alt="" style="margin-bottom:-3.5%; margin-left:-8%;">
  </div>
  <div style="width:35%; margin-left:6%; display:inline-block;">
    <br><br><br>
    <h1>Our Co-Founders</h1>
    <p>
      Melissa Manice spent a decade researching obstacles respiratory disease management and holds a PhD in Clinical and Translational Research from Mount Sinai. Melissa jumped into the technology space to create solutions for patient health, after spending so long studying the challenges.
    </p>
    <p>
      Dan Weinstein holds an MBA in Health Sector Management from Duke University and a BA in the biological basis of behavior from the University of Pennsylvania. He commercialized new technologies at Stanford University’s Office of Technology Licensing where he helped to launch two successful startups. Dan and Melissa met while working in at Mount Sinai Hospital.
    </p>
  </div>
</div>


<br><br><br><br>
<div align="center" class="row">
    <div class="col s12 m6 l4" style="padding:1%;">
      <div class="card" style="text-align:center;">
        <div class="card-image waves-effect waves-block waves-light" id="card_outer">
          <div id=card_inner>
            <a href="https://www.linkedin.com/in/mikemarett"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
          </div>
          <img style="padding:22px;" class="activator" src="images/Anna_size.jpg">
          <h2>Mike Marett</h2>
          <p style="margin-top:-20px;">Chief Commercial Officer</p>
          <br>
          <span id="readBio" class="activator">Read Bio</span>
          <br>
          <br>
          <br>
        </div>
        <div class="card-reveal" style="background-color:#004DA8; color:white; font-size:18px; padding:27px; text-align:left;">
          <p>Mike is a seasoned business development & marketing executive with 15 years of strategy, global product management, sales and corporate development experience.<br><br>

              He has launched multiple new ventures and spearheaded the commercialization of award-winning digital products and platforms within healthcare and technology.<br><br>

              Most recently named one of PM360’s ELITE, and amongst the PharmaVOICE 100, he is passionate about healthcare and enjoys being on the edge of innovation.
          </p>
          <div class="card-title whiteCloseButton" style="width:100px;  position: absolute; bottom: 20px; margin-right: auto; margin-left: auto; left: 0px; right: 0px;">
            Close
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4" style="padding:1%;">
      <div class="card" style="text-align:center;">
        <div class="card-image waves-effect waves-block waves-light" id="card_outer">
          <div id=card_inner>
            <a href="https://www.linkedin.com/in/mikemarett"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
          </div>
          <img style="padding:22px;" class="activator" src="images/Anne_size.jpg">
          <h2>Anne </h2>
          <p style="margin-top:-20px;">Chief Commercial Officer</p>
          <br>
          <span id="readBio" class="activator">Read Bio</span>
          <br>
          <br>
          <br>
        </div>
        <div class="card-reveal" style="background-color:#004DA8; color:white; font-size:18px; padding:27px; text-align:left;">
          <p>Anna joined Cohero in 2014 and has taken on multiple roles in clinical project management and research study design.<br><br>

Anna holds a BSE in Biomedical Computation from Stanford University and is a soon-to-be MD graduate in 2017 from Icahn School of Medicine at Mount Sinai.<br><br>

Anna is passionate about the intersection of patient care improvement and technology innovation and is excited to join the next generation of physician entrepreneurs.
          </p>
          <div class="card-title whiteCloseButton" style="width:100px;  position: absolute; bottom: 20px; margin-right: auto; margin-left: auto; left: 0px; right: 0px;">
            Close
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4" style="padding:1%;">
      <div class="card" style="text-align:center;">
        <div class="card-image waves-effect waves-block waves-light" id="card_outer">
          <div id=card_inner>
            <a href="https://www.linkedin.com/in/mikemarett"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
          </div>
          <img style="padding:22px;" class="activator" src="images/Gabe_size.jpg">
          <h2>Gabe</h2>
          <p style="margin-top:-20px;">UX</p>
          <br>
          <span id="readBio" class="activator">Read Bio</span>
          <br>
          <br>
          <br>
        </div>
        <div class="card-reveal" style="background-color:#004DA8; color:white; font-size:18px; padding:27px; text-align:left;">
          <p>Gabriel joined Cohero in 2015 with a decade of experience in design, startups and the arts. He has a passion for crafting great experiences helping people. <br><br>
              Gabriel holds a BA in American Studies from Columbia University, and a minor in music composition.<br><br>
              Gabriel lives in NYC and Munich and spends his free time writing music, hiking, and improving his German.
          </p>
          <div class="card-title whiteCloseButton" style="width:100px;  position: absolute; bottom: 20px; margin-right: auto; margin-left: auto; left: 0px; right: 0px;">
            Close
          </div>
        </div>
      </div>
    </div>
</div>
<div align="center" class="row">
    <div class="col s12 m6 l4" style="padding:1%;">
      <div class="card" style="text-align:center;">
        <div class="card-image waves-effect waves-block waves-light" id="card_outer">
          <div id=card_inner>
            <a href="https://www.linkedin.com/in/emiliemelvin"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
          </div>
          <img style="padding:22px;" class="activator" src="images/Emilie_size.jpg">
          <h2>Emilie Melvin</h2>
          <p style="margin-top:-20px;">Business Development Manager</p>
          <br>
          <span id="readBio" class="activator">Read Bio</span>
          <br>
          <br>
          <br>
        </div>
        <div class="card-reveal" style="background-color:#004DA8; color:white; font-size:18px; padding:27px; text-align:left;">
          <p>Emilie comes to Cohero with a background in clinical and methods research.<br><br>

She is passionate about healthcare innovation and the potential impact that technologies like Cohero’s can have for patients worldwide.<br><br>

A 2016 graduate from Duke University, Emilie holds a BS in Evolutionary Anthropology with Chemistry and Global Health minors.
          </p>
          <div class="card-title whiteCloseButton" style="width:100px;  position: absolute; bottom: 20px; margin-right: auto; margin-left: auto; left: 0px; right: 0px;">
            Close
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4" style="padding:1%;">
      <div class="card" style="text-align:center;">
        <div class="card-image waves-effect waves-block waves-light" id="card_outer">
          <div id=card_inner>
            <a href="https://www.linkedin.com/in/mikemarett"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
          </div>
          <img style="padding:22px;" class="activator" src="images/Anne_size.jpg">
          <h2>Anne </h2>
          <p style="margin-top:-20px;">Chief Commercial Officer</p>
          <br>
          <span id="readBio" class="activator">Read Bio</span>
          <br>
          <br>
          <br>
        </div>
        <div class="card-reveal" style="background-color:#004DA8; color:white; font-size:18px; padding:27px; text-align:left;">
          <p>Anna joined Cohero in 2014 and has taken on multiple roles in clinical project management and research study design.<br><br>

Anna holds a BSE in Biomedical Computation from Stanford University and is a soon-to-be MD graduate in 2017 from Icahn School of Medicine at Mount Sinai.<br><br>

Anna is passionate about the intersection of patient care improvement and technology innovation and is excited to join the next generation of physician entrepreneurs.
          </p>
          <div class="card-title whiteCloseButton" style="width:100px;  position: absolute; bottom: 20px; margin-right: auto; margin-left: auto; left: 0px; right: 0px;">
            Close
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4" style="padding:1%;">
      <div class="card" style="text-align:center;">
        <div class="card-image waves-effect waves-block waves-light" id="card_outer">
          <div id=card_inner>
            <a href="https://www.linkedin.com/in/mikemarett"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
          </div>
          <img style="padding:22px;" class="activator" src="images/Gabe_size.jpg">
          <h2>Gabe</h2>
          <p style="margin-top:-20px;">UX</p>
          <br>
          <span id="readBio" class="activator">Read Bio</span>
          <br>
          <br>
          <br>
        </div>
        <div class="card-reveal" style="background-color:#004DA8; color:white; font-size:18px; padding:27px; text-align:left;">
          <p>Gabriel joined Cohero in 2015 with a decade of experience in design, startups and the arts. He has a passion for crafting great experiences helping people. <br><br>
              Gabriel holds a BA in American Studies from Columbia University, and a minor in music composition.<br><br>
              Gabriel lives in NYC and Munich and spends his free time writing music, hiking, and improving his German.
          </p>
          <div class="card-title whiteCloseButton" style="width:100px;  position: absolute; bottom: 20px; margin-right: auto; margin-left: auto; left: 0px; right: 0px;">
            Close
          </div>
        </div>
      </div>
    </div>
</div>
<!-- <h1>HELLO</h1>
<div class="card" style="width:30%; margin-left:2%; text-align:center; display: inline-block;">
  <div class="card-image waves-effect waves-block waves-light" id="card_outer">
    <div id=card_inner>
      <a href="https://www.linkedin.com/in/mikemarett"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
    </div>
    <img style="padding:42px;" class="activator" src="images/Anne_size.jpg">
    <h2>Mike Marret</h2>
    <p style="margin-top:-20px;">Chief Commercial Officer</p>
    <br>
    <span id="readBio" class="activator">Read Bio</span>
    <br>
    <br>
    <br>
  </div>
  <div class="card-reveal" style="background-color:#004DA8; color:white; font-size:18px; padding:27px; text-align:left;">
    <p>Mike is a seasoned business development & marketing executive with 15 years of strategy, global product management, sales and corporate development experience.<br><br>

        He has launched multiple new ventures and spearheaded the commercialization of award-winning digital products and platforms within healthcare and technology.<br><br>

        Most recently named one of PM360’s ELITE, and amongst the PharmaVOICE 100, he is passionate about healthcare and enjoys being on the edge of innovation.
    </p>
    <div class="card-title whiteCloseButton" style="width:100px;  position: absolute; bottom: 20px; margin-right: auto; margin-left: auto; left: 0px; right: 0px;">
      Close
    </div>
  </div>
</div> -->


  <!-- <div class="container hide-on-med-and-down">
    <div class="row center">
      <div class="col s12">
        <h1>Meet Our Team</h1>
      </div>
    </div>
    <div class="row center">

      <div class="col s12 m4 l4 center">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light" id="card_outer">
            <div id=card_inner>
              <a href="https://www.linkedin.com/in/mikemarett"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
            </div>
            <img style="padding:20px;" class="activator" src="images/card.png">
            <h2>Mike Marret</h2>
            <p style="margin-top:-20px;">Chief Commercial Officer</p>
            <br>
            <span id="readBio" class="activator text-darken-4">Read Bio</span>
            <br>
            <br>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
            <br>
            <p style="text-align:left;">Here is some more information about Mike.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4 l4 center">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light" id="card_outer">
            <div id=card_inner>
              <a href="https://www.linkedin.com/in/mikemarett"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
            </div>
            <img style="padding:20px;" class="activator" src="images/card.png">
            <h2>Mike Marret</h2>
            <p style="margin-top:-20px;">Chief Commercial Officer</p>
            <br>
            <span id="readBio" class="activator text-darken-4">Read Bio</span>
            <br>
            <br>
            <br>
          </div>
          <div class="card-reveal" style="background-color:#004DA8; color:white; font-size:14.5px; text-align:left; padding:20px;">
            <p>Mike is a seasoned business development & marketing executive with 15 years of strategy, global product management, sales and corporate development experience.<br><br>

                He has launched multiple new ventures and spearheaded the commercialization of award-winning digital products and platforms within healthcare and technology.<br><br>

                Most recently named one of PM360’s ELITE, and amongst the PharmaVOICE 100, he is passionate about healthcare and enjoys being on the edge of innovation.  </p>
              <span class="card-title whiteCloseButton center" style="position: absolute;bottom: 18px; left:110px;">Close</span>
          </div>
        </div>
      </div>

      <div class="col s12 m4 l4 center">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light" id="card_outer">
            <div id=card_inner>
              <a href="https://www.linkedin.com/in/mikemarett"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
            </div>
            <img style="padding:20px;" class="activator" src="images/card.png">
            <h2>Mike Marret</h2>
            <p style="margin-top:-20px;">Chief Commercial Officer</p>
            <br>
            <span id="readBio" class="activator text-darken-4">Read Bio</span>
            <br>
            <br>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
            <br>
            <p style="text-align:left;">Here is some more information about Mike.</p>
          </div>
        </div>
      </div>

    </div>
  </div> -->

  <%- include ../globalPartials/footer %>
  <%- include ../globalPartials/bottom_of_body %>
</body>
</html>
