<!DOCTYPE html>
<html lang="en">
<%- include ../partials/head %>
<body>
  <%- include ../partials/nav %>
  <br>
  <br>
  <br><br><br>
    <div class="container hide-on-med-and-down">
      <div class="row">
        <div class="col s12">
          <div class="col s7">
            <img style="text-align:left; margin-top:-100px;" width="100%" src="images/team.png">
          </div>
          <div class="col s5" id="our_team_col">
            <h1 style="text-align:left;">We're passionate about respiratory health and technology.</h1>
            <p style="text-align:left;">
              Our team of technologists, doctors, designers and clinicians is on a mission to transform respiratory disease management though groundbreaking mobile technology.
            </p><br>
            <a id="learn_more_button" class="waves-effect waves-light btn" href="about">Learn More</a>
          </div>
          <div id="who_are_we" class="section scrollspy">
          </div>
        </div>
      </div>
    </div>
  <br><br><br><br>

  <div class="container hide-on-med-and-down">
    <div class="row">
      <div class="col s12">
        <div class="col s7">
          <img style="text-align:left; margin-top:-100px;" width="100%" src="images/team.png">
        </div>
        <div class="col s5" id="our_team_col">
          <h1 style="text-align:left;">Our Co-Founders</h1>
          <p style="text-align:left;">
            Melissa Manice ...

          </p><br>
          <a id="learn_more_button" class="waves-effect waves-light btn" href="about">Learn More</a>
        </div>
        <div id="who_are_we" class="section scrollspy">
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br>

  <div class="container hide-on-med-and-down">
    <div class="row center">
      <div class="col s12">
        <h1>Meet Our Team</h1>
      </div>
    </div>
    <div class="row center">
      <div class="col s12 m4 l4 center">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" width="50%" src="images/doc.png">
            <p>Person's Name</p>
            <p>Job Title</p>
            <a class="card-title activator black-text left">Read Bio</a>
            <i class="fa fa-linkedin-square medium right" aria-hidden="true"></i>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
            <br>
            <p style="text-align:left;">Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4 center">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" width="50%" src="images/doc.png">
            <p>Person's Name</p>
            <p>Job Title</p>
            <a class="card-title activator black-text left">Read Bio</a>
            <i class="fa fa-linkedin-square medium right" aria-hidden="true"></i>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
            <br>
            <p style="text-align:left;">Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4 center">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" width="50%" src="images/doc.png">
            <p>Person's Name</p>
            <p>Job Title</p>
            <a class="card-title activator black-text left">Read Bio</a>
            <i class="fa fa-linkedin-square medium right" aria-hidden="true"></i>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
            <br>
            <p style="text-align:left;">Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grey lighten-2" style="width:100%; height:2px;"></div>
  <br>
  <div class=container>
    <div class="center row">
      <div class="col s12">
        <br>
        <div class="col s6">
          <img width="100%" src="images/placeholder.png">
        </div>
        <div class="col s6">
          <h5>consectetur adipiscing eli</h5>
          <p class="light flow-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis. Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="grey lighten-2" style="width:100%; height:2px;"></div>
  <br>
  <div class="container">
    <div class="center row">
      <div class="col s12">
        <div class="col s2">
        </div>
        <div class="col s8">
          <h4 >meet orru tema.</h4>
        </div>
        <div class="col s2">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="center row">
      <div class="col s12">
        <div class="col s4">
          <img width="100%" src="images/placeholder.png">
          <p>Person</p>
          <p class="light">Position</p>
          <a class="waves-effect waves-light btn left">Button</a>
          <i class="material-icons right">perm_identity</i>
        </div>
        <div class="col s4">
          <img width="100%" src="images/placeholder.png">
          <p>Person</p>
          <p class="light">Position</p>
          <a class="waves-effect waves-light btn left">Button</a>
          <i class="material-icons right">perm_identity</i>
        </div>
        <div class="col s4">
          <img width="100%" src="images/placeholder.png">
          <p>Person</p>
          <p class="light">Position</p>
          <a class="waves-effect waves-light btn left">Button</a>
          <i class="material-icons right">perm_identity</i>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="center row">
      <div class="col s12">
        <div class="col s4">
          <img width="100%" src="images/placeholder.png">
          <p>Person</p>
          <p class="light">Position</p>
          <a class="waves-effect waves-light btn left">Button</a>
          <i class="material-icons right">perm_identity</i>
        </div>
        <div class="col s4">
          <img width="100%" src="images/placeholder.png">
          <p>Person</p>
          <p class="light">Position</p>
          <a class="waves-effect waves-light btn left">Button</a>
          <i class="material-icons right">perm_identity</i>
        </div>
        <div class="col s4">
          <img width="100%" src="images/placeholder.png">
          <p>Person</p>
          <p class="light">Position</p>
          <a class="waves-effect waves-light btn left">Button</a>
          <i class="material-icons right">perm_identity</i>
        </div>
      </div>
    </div>
  </div><br><br>

  <div class="grey lighten-2" style="width:100%; height:2px;"></div>

  <div class="container">
    <div class="center row">
      <div class="col s12">
        <div class="col s2">
        </div>
        <div class="col s8">
          <h4 >meet orru tema.</h4>
        </div>
        <div class="col s2">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="center row">
      <div class="col s12">
        <div class="col s4">
          <img width="100%" src="images/placeholder.png">
          <p>Person</p>
          <p class="light">Position</p>
          <a class="waves-effect waves-light btn left">Button</a>
          <i class="material-icons right">perm_identity</i>
        </div>
        <div class="col s4">
          <img width="100%" src="images/placeholder.png">
          <p>Person</p>
          <p class="light">Position</p>
          <a class="waves-effect waves-light btn left">Button</a>
          <i class="material-icons right">perm_identity</i>
        </div>
        <div class="col s4">
          <img width="100%" src="images/placeholder.png">
          <p>Person</p>
          <p class="light">Position</p>
          <a class="waves-effect waves-light btn left">Button</a>
          <i class="material-icons right">perm_identity</i>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="center row">
      <div class="col s12">
        <div class="col s4">
          <img width="100%" src="images/placeholder.png">
          <p>Person</p>
          <p class="light">Position</p>
          <a class="waves-effect waves-light btn left">Button</a>
          <i class="material-icons right">perm_identity</i>
        </div>
        <div class="col s4">
          <img width="100%" src="images/placeholder.png">
          <p>Person</p>
          <p class="light">Position</p>
          <a class="waves-effect waves-light btn left">Button</a>
          <i class="material-icons right">perm_identity</i>
        </div>
        <div class="col s4">
          <img width="100%" src="images/placeholder.png">
          <p>Person</p>
          <p class="light">Position</p>
          <a class="waves-effect waves-light btn left">Button</a>
          <i class="material-icons right">perm_identity</i>
        </div>
      </div>
    </div>
  </div><br><br>

  <div class="grey lighten-2" style="width:100%; height:2px;"></div>

  <div class="container">
    <div class="center row">
      <div class="col s12">
        <div class="col s2">
        </div>
        <div class="col s8">
          <h4 >meet orru tema.</h4>
        </div>
        <div class="col s2">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="center row">
      <div class="col s12">
        <div class="col s4">
          <img width="100%" src="images/placeholder.png">
          <p>Person</p>
          <p class="light">Position</p>
          <a class="waves-effect waves-light btn left">Button</a>
          <i class="material-icons right">perm_identity</i>
        </div>
        <div class="col s4">
          <img width="100%" src="images/placeholder.png">
          <p>Person</p>
          <p class="light">Position</p>
          <a class="waves-effect waves-light btn left">Button</a>
          <i class="material-icons right">perm_identity</i>
        </div>
        <div class="col s4">
          <img width="100%" src="images/placeholder.png">
          <p>Person</p>
          <p class="light">Position</p>
          <a class="waves-effect waves-light btn left">Button</a>
          <i class="material-icons right">perm_identity</i>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="center row">
      <div class="col s12">
        <div class="col s4">
          <img width="100%" src="images/placeholder.png">
          <p>Person</p>
          <p class="light">Position</p>
          <a class="waves-effect waves-light btn left">Button</a>
          <i class="material-icons right">perm_identity</i>
        </div>
        <div class="col s4">
          <img width="100%" src="images/placeholder.png">
          <p>Person</p>
          <p class="light">Position</p>
          <a class="waves-effect waves-light btn left">Button</a>
          <i class="material-icons right">perm_identity</i>
        </div>
        <div class="col s4">
          <img width="100%" src="images/placeholder.png">
          <p>Person</p>
          <p class="light">Position</p>
          <a class="waves-effect waves-light btn left">Button</a>
          <i class="material-icons right">perm_identity</i>
        </div>
      </div>
    </div>
  </div><br><br><br>

  <%- include ../partials/footer %>
  <%- include ../partials/bottom_of_body %>
</body>
</html>
