<!DOCTYPE html>
<html lang="en">
<%- include ../globalPartials/head %>
<body>


  <%- include ../patient/generalPatientPartials/nav %>



    <div class="container" style="margin-top:144px;">
      <div class="row">
        <div class="col s12">
          <h1 >Say hello anytime.</h1>
        </div>
      </div>
    </div>

  <div class="container" style="margin-top:100px;">
    <div class="row">
      <div class="col s12">
        <form action="https://formspree.io/ariingber@gmail.com"
            method="POST" enctype="multipart/form-data">
          <input type="hidden" name="_next" value="/contact" />
          <div class="col s12 m6 l6" style="margin-left:-10px;">
            <div class="input-field">
              <input class="contact_label validate" id="name" type="text" name="name" required="" aria-required="true">
              <label for="name" data-error="Please fill out this field"  style="left: 0">Your Name</label>
            </div>
            <div class="input-field" style="margin-top:42px;">
              <input class="contact_label validate" id="email" type="email" name="email" required="" aria-required="true">
              <label for="email" data-error="Please enter a valid email" style="left: 0">Your Email</label>
            </div>
            <div class="input-field" style="margin-top:42px;">
              <input class="contact_label contact_message validate" id="contactMessage" type="text" name="contactMessage" required="" aria-required="true">
              <label for="contactMessage" style="left: 0;">Your Message</label>
              <input style="margin-top:68px;" id="contactSendButton" type="submit" value="Send">
            </div>
          </div>
          <div class="col s12 m1 l2">
          </div>
          <div class="col s12 m5 l4" style="margin-left:-40px;">
            <div>
              <div style="margin-top:36px; color:#004DA8; font-family: museo-rounded-300; font-size:18px; line-height:21px;">Contact Information</div>
              <div style="margin-top:18px; line-height:24px; font-family: Open Sans; color:#435663; font-size:18px;">
                Cohero Health Inc.<br>
                335 Madison Avenue<br>
                New York, NY 10017<br>
                +1 (212) 6234578<br>
                <div style="font-size:18px; line-height:24px; color:#1FD9C7">contact@coherohealth.com</div>
              </div>
              <div style="margin-top:86px; color:#004DA8; font-family: museo-rounded-300; font-size:18px; line-height:21px;">Press</div>
              <div style="margin-top:18px; line-height:24px; font-family: Open Sans; color:#435663; font-size:18px;">
                For all press inquieries<br>
                please contact:
                <div style="font-size:18px; line-height:24px; color:#1FD9C7">emile@coherohealth.com</div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br><br>



  <div>
    <a target="_blank" href="https://www.google.com/maps/dir/Current+Location/Cohero+Health"><img src="images/blackAndWhiteMap3.jpg" width=100% alt=""></a>
  </div>
  <%- include ../globalPartials/footer %>
  <%- include ../globalPartials/bottom_of_body %>
</body>
</html>
