<!DOCTYPE html>
<html lang="en">
<%- include ../globalPartials/head %>
<body>

  <%- include ../patient/generalPatientPartials/nav %>
  <div style="height:225px; background-color:#0a50a5;">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <br><br><br>
          <h1 style="color:white;">Say hello anytime.</h1>
          <div style="margin-top:-25px; color:#1FD9C7;">We'd love to talk to you!</div>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <div class="container">
    <div class="row">
      <div class="col s12">
        <form action="https://formspree.io/ariingber@gmail.com"
            method="POST" enctype="multipart/form-data">
          <input type="hidden" name="_next" value="/contact" />
          <div class="col s12 m6 l6">
            <div class="input-field">
              <input id="name" type="text" name="name" required>
              <label for="name">Your Name*</label>
            </div>
            <!-- <div class="input-field">
              <input id="last_name" type="text" name="last_name" required>
              <label for="last_name">Last Name</label>
            </div> -->
            <div class="input-field">
              <input id="email" type="email" class="validate" name="email" required>
              <label for="email">Email*</label>
            </div>
            <div class="input-field">
              <input id="Message" type="text" name="Message" required>
              <label for="message">Message*</label>
            </div>
          </div>
          <div class="col s12 m6 l6">
            Hi
          </div>
          <div class="col s12" style="margin-top:16px;">
            <button class="btn waves-effect waves-light" type="submit">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="center row">
      <br><br>
      <div class="col s12">
      </div><br>
    </div>
  </div>
  <script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=b0d8b004-c89a-44ea-4cb3-63813c5cbb89&c=google-maps-code&u=1474567769" defer="defer" async="async"></script>

  <div class="container">
    <div class="row">
      <div class="col l6 m6 hide-on-small-only">
        <div style="width:500px;overflow:hidden;height:350px;max-width:100%;">
          <div id="gmap-canvas" style="height:100%; width:100%;max-width:100%;">
            <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Cohero+Central+Tech,+Madison+Avenue,+New+York,+NY,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
          </div>
          <a class="google-maps-code" rel="nofollow" href="https://www.interserver-coupons.com" id="authorize-map-data">InterserverCoupons</a>
          </div>
      </div>

        <div class="col s12 hide-on-med-and-up" style="margin-top:60px;">
          <div style="width:500px;overflow:hidden;height:350px;max-width:100%;">
            <div id="gmap-canvas" style="height:100%; width:100%;max-width:100%;">
              <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Cohero+Central+Tech,+Madison+Avenue,+New+York,+NY,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
            </div>
            <a class="google-maps-code" rel="nofollow" href="https://www.interserver-coupons.com" id="authorize-map-data">InterserverCoupons</a>
            </div>
        </div>
      <br>
    </div>
  </div>

  <%- include ../globalPartials/footer %>
  <%- include ../globalPartials/bottom_of_body %>
</body>
</html>
