<!DOCTYPE html>
<html lang="en">
<%- include ../globalPartials/head %>
<body>


  <%- include ../patient/generalPatientPartials/nav %>


  <div style="height:225px; background-color:#0a50a5;">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <br><br><br>
          <h1 style="color:white;">Say hello anytime.</h1>
          <div style="margin-top:-25px; color:#1FD9C7;">We'd love to talk to you!</div>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <div class="container">
    <div class="row">
      <div class="col s12">
        <form action="https://formspree.io/ariingber@gmail.com"
            method="POST" enctype="multipart/form-data">
          <input type="hidden" name="_next" value="/contact" />
          <div class="col s12 m6 l6">
            <div class="input-field">
              <input id="name" type="text" name="name" required>
              <label for="name" style="left: 0">Your Name*</label>
            </div>
            <!-- <div class="input-field">
              <input id="last_name" type="text" name="last_name" required>
              <label for="last_name">Last Name</label>
            </div> -->
            <div class="input-field">
              <input id="email" type="email" name="email" required>
              <label for="email" style="left: 0">Email*</label>
            </div>
            <div class="input-field">
              <input id="message" type="text" name="message" required>
              <label for="message" style="left: 0">Message*</label>
            </div>
          </div>
          <div class="col s12 m1 l2 center">
          </div>
          <div class="col s12 m5 l4 left">
            <div style="font-size:13px;">
              <br>
              <div style="color:#004da8;">Contact Information</div>
              <br>
              <div style="margin-top:-16px;">
                Cohero Health Inc.<br>
                335 Madison Avenue<br>
                New York, NY 10017<br>
                +1 (212) 6234578<br>
                <div style="color:#50E3C2;">contact@coherohealth.com</div>
              </div>
              <br>
              <div style="color:#004da8;">Press</div>
              <br>
              <div style="margin-top:-16px;">
                For all press inquieries<br>
                please contact:
                <div style="color:#50E3C2;">emile@coherohealth.com</div>
              </div>
            </div>
          </div>
          <div class="col s12" style="margin-top:16px;">
            <span id="submitButton" type="submit">Submit
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br><br>
  <!-- <a target="_blank" href="https://www.google.com/maps/dir//cohero+health/@40.7535768,-74.0481249,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89c25901eefadfaf:0x90c7f4cf29270a31!2m2!1d-73.978085!2d40.753598">
      <div id="map"></div>
    </a> -->
  <div style="height:450px; overflow:hidden;">
    <a target="_blank" href="https://www.google.com/maps/dir/Current+Location/Cohero+Health"><img src="images/blackAndWhiteMap2.png" width=100% alt=""></a>
  </div>


  <!-- <div style="height:450px; overflow:hidden;">
    <a target="_blank" href="https://www.google.com/maps/dir/Current+Location/Cohero+Health"><img src="images/blackAndWhiteMap.jpg" width=100% alt=""></a>
  </div> -->
  <%- include ../globalPartials/footer %>
  <%- include ../globalPartials/bottom_of_body %>
</body>
</html>




    <!-- <script>
      function initMap() {


        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: {lat: 40.753602, lng: -73.9802737},
          scrollwheel: false,
          styles: [
            {
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#f5f5f5"
                }
              ]
            },
            {
              "elementType": "labels.icon",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#616161"
                }
              ]
            },
            {
              "elementType": "labels.text.stroke",
              "stylers": [
                {
                  "color": "#f5f5f5"
                }
              ]
            },
            {
              "featureType": "administrative.land_parcel",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#bdbdbd"
                }
              ]
            },
            {
              "featureType": "poi",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#eeeeee"
                }
              ]
            },
            {
              "featureType": "poi",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#757575"
                }
              ]
            },
            {
              "featureType": "poi.park",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#e5e5e5"
                }
              ]
            },
            {
              "featureType": "poi.park",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#9e9e9e"
                }
              ]
            },
            {
              "featureType": "road",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#ffffff"
                }
              ]
            },
            {
              "featureType": "road.arterial",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#757575"
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#dadada"
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#616161"
                }
              ]
            },
            {
              "featureType": "road.local",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#9e9e9e"
                }
              ]
            },
            {
              "featureType": "transit.line",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#e5e5e5"
                }
              ]
            },
            {
              "featureType": "transit.station",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#eeeeee"
                }
              ]
            },
            {
              "featureType": "water",
              "elementType": "geometry",
              "stylers": [
                {
                  "color": "#c9c9c9"
                }
              ]
            },
            {
              "featureType": "water",
              "elementType": "labels.text.fill",
              "stylers": [
                {
                  "color": "#9e9e9e"
                }
              ]
            }
          ]
        });
        var image = { url : 'images/mapMarkerIcon.png' }
        var marker = new google.maps.Marker({
          position: {lat: 40.7536901, lng: -73.97815159999999},
          map: map,
          title: 'Cohero Health',
          animation: google.maps.Animation.DROP
          // icon: image

        });
      }
    </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxuDYxXd63BKudnWWVzLhQ5bFoDqi1wYA&callback=initMap">
  </script> -->
