<!DOCTYPE html>
<html lang="en">
<%- include ../partials/head %>
<body>
  <%- include ../partials/nav %>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="center row">
      <div class="col s12">
        <div class="col s2">
        </div>
        <div class="col s8">
          <h4 >Get to know Sheero Palace.</h4>
          <p class="flow-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.
          </p>
        </div>
        <div class="col s2">
        </div>
      </div><br>
          <!-- Modal Video Trigger -->
     <a class="waves-effect waves-light btn modal-trigger" href="#videomodal">Watch Video</a>

     <!-- Modal Structure -->
     <div id="videomodal" class="modal">
       <div class="modal-content">
         <video class="responsive-video" controls>
          <source src="images/samplemovie.mp4" type="video/mp4">
        </video>
       </div>
     </div>
      <br>
      <br>
      <br>
      <br>
      <a href="#what_is_CoHero"><h5>What is Sheero Palace?</h5></a>
      <i class="small material-icons">play_for_work</i>
    </div>
</div>
<!-- GREY LINE -->
<div class="grey lighten-2" style="width:100%; height:2px;"></div>



<div id="what_is_CoHero" class="section scrollspy">
  <div class="container">
    <div class="center row">
      <br>
        <div class="col s2">
        </div>
        <div class="col s8">
          <h4 >Build Better habbits, and keep your hamper in the coop.</h4>
          <img width="100%" src="images/placeholder.png">
        </div>
    </div>

    <div class="center row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">code</i></h2>
          <h5 class="center">Recycle</h5>
          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">done</i></h2>
          <h5 class="center">Get It Done</h5>
          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">thumb_up</i></h2>
          <h5 class="center">Collaborate</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.</p>
        </div>
      </div>
    </div>
    <div class="center row">
      <br>
      <br>
      <br>
      <h5>How does it work?</h5>
      <i class="small material-icons">play_for_work</i>
    </div>
  </div>
</div>

  <!-- GREY LINE -->
<div class="grey lighten-2" style="width:100%; height:2px;"></div>
<br>



<div class=container >
  <div class="center row">
    <div class="col s12">
      <div class="col s6">
        <h4 >Harkdare sharter that helps you weave tarter.</h4>
        <p class="flow-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.
        </p>
      </div>
    </div>
  </div>
  <div class="center row">
    <div class="col s12">
      <div class="col s6">
        <h5>consectetur adipiscing eli</h5>
        <p class="flow-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.
        </p>
      </div>
      <div class="col s6">
        <img width="100%" src="images/placeholder.png">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="col s4">
        <a class="waves-effect waves-light btn-large">Button</a>
      </div>
      <div class="center col s4">
        <h5>Who are we?</h5>
        <i class="small material-icons">play_for_work</i>
      </div>
      <div class="col s4">
      </div>
    </div>
  </div>
</div>

<!-- GREY LINE -->
<div class="grey lighten-2" style="width:100%; height:2px;"></div>
<br>

<div class=container>
  <div class="center row">
    <div class="col s12">
      <div class="col s6">
        <img width="100%" src="images/placeholder.png">
      </div>
      <div class="col s6">
        <h5>consectetur adipiscing eli</h5>
        <p class="flow-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.
        </p>
        <a class="waves-effect waves-light btn-large">Button</a>
      </div>
    </div>
  </div>
</div>

<div class="grey lighten-2" style="width:100%; height:2px;"></div>

<div class="container">
  <div class="center row">
    <div class="col s12">
      <div class="col s2">
      </div>
      <div class="col s8">
        <h4 >Hoe People PLeay.</h4>
        <p class="flow-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="col s2">
      </div>
      <div class="col s12 m4">
        <h5 class="center">What</h5>
        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.</p>
        <img src="images/imageicon.png" alt="" style="width:30px;" class="left circle">
        <span class="light left" style="padding:5px;"> -bojengales</span>
      </div>
      <div class="col s12 m4">
        <h5 class="center">What</h5>
        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.</p>
        <img src="images/imageicon.png" alt="" style="width:30px;" class="left circle">
        <span class="light left" style="padding:5px;"> -bojengales</span>
      </div>
      <div class="col s12 m4">
        <h5 class="center">What</h5>
        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.</p>
        <img src="images/imageicon.png" alt="" style="width:30px;" class="left circle">
        <span class="light left" style="padding:5px;"> -bojengales</span>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="center row">
    <a class="waves-effect waves-light btn-large">Learn More</a>
    <h4 >frumpanies working with sooshifasdkn.</h4>
  </div>
</div>
<div class="container">
  <div class="center row">
    <div  class="col s12 center">
      <div class="col s1">
      </div>
      <div class="center col s10">
        <div class="col s1">
        </div>
        <div class="col s2 center">
          <i class="small material-icons center">language</i>
        </div>
        <div class="col s2 center">
          <i class="small material-icons">label</i>
        </div>
        <div class="col s2 center">
          <i class="small material-icons">work</i>
        </div>
        <div class="col s2 center">
          <i class="small material-icons">print</i>
        </div>
        <div class="col s2 center">
          <i class="small material-icons">grade</i>
        </div>
      </div>
      <div class="col s1">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="center row">
    <div  class="col s12 center">
      <div class="col s1">
      </div>
      <div class="center col s10">
        <div class="col s1">
        </div>
        <div class="col s2 center">
          <i class="small material-icons center">repeat</i>
        </div>
        <div class="col s2 center">
          <i class="small material-icons">skip_previous</i>
        </div>
        <div class="col s2 center">
          <i class="small material-icons">snooze</i>
        </div>
        <div class="col s2 center">
          <i class="small material-icons">surround_sound</i>
        </div>
        <div class="col s2 center">
          <i class="small material-icons">sort_by_alpha</i>
        </div>
      </div>
      <div class="col s1">
      </div>
      <br>
      <br>
      <h5>Try Potatoes</h5>
      <i class="small material-icons">play_for_work</i>
    </div>
  </div>
</div>

<div class="grey lighten-2" style="width:100%; height:2px;"></div>
<br>
<div class="container">
  <div class="center row">
    <h4 >Try this pumplien</h4>
  </div>
</div>

<%- include ../partials/try_our_products %>

<br>
<%- include ../partials/footer %>

  <!-- make sure this does not need to be a partial -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/init.js"></script>

</body>
</html>
