<!DOCTYPE html>
<html lang="en">
<%- include ../globalPartials/head %>
<body>
  <%- include ../patient/generalPatientPartials/nav %>
  <br>
  <br>
  <br>
  <div class=container>
    <div class="center row">
      <div class="col s12">
        <div class="col s6">
          <h1 class="left-align">Our product suite brings smart technology to respiratory health.</h1>
          <div class="left-align">
            Integrated hardware and software tracks your medication use and lung function. Get daily reminders to take your medication, alerts about environmental dangers where you are, learn about how to stay healthy, and keep your doctor in the know.
          </div>
        </div>
        <div class="col s6">
        </div>
      </div>
    </div>
    <br><br><br><br><br>
    <div class="center row">
      <div class="col s12">
        <h1 style="font-size:14px; color:#1FD9C7;">BREATHESMART</h1>
        <h1>BreatheSmart makes <br>understanding your health easy.</h1>
      </div>
    </div>
  </div>

  <!-- <div class=container>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active left-align" href="#asthma">Asthma</a></li>
          <li class="tab col s3"><a class="left-align" href="#copd">COPD</a></li>
          <li class="tab col s3"><a class="left-align" href="#cysticFibrosis">Cystic Fibrosis</a></li>
          <li class="tab col s3"><a></a></li>
        </ul>
        <div style="width:100%; border: solid #B4B4B4 1px; z-index:-1; margin-top:-1px;"></div>

      </div>
      <div id="athma" class="col s12"></div>
      <div id="copd" class="col s12">Test 3</div>
      <div id="cysticFibrosis" class="col s12">Test 4</div>
    </div>
  </div> -->
<br><br>

  <div class="container">
    <div class="row center">

      <div class="col s12">
        <div class="col s4">
          <h2 style="font-size:18px;">GET MEDICATION REMINDERS</h2>
          <p>Set custom scheduled reminders for daily medications.</p>
          <br>
          <h2 style="font-size:18px;">TRACK INHALER USE</h2>
          <p>Automatically record how often you use daily and relief inhalers.</p>
          <br>
          <h2 style="font-size:18px;">MEASURE LUNG FUNCTION</h2>
          <p>See how open your airways are each day with mSpirometer.</p>
        </div>
        <div class="col s4">
          <img width="100%" src="images/iphonetemp.png">
        </div>
        <div class="col s4">
          <h2 style="font-size:18px;">RECORD HOW YOU FEEL</h2>
          <p>Record symptoms and triggers to learn what’s affecting your health.</p>
          <br>
          <h2 style="font-size:18px;">STAY SYNCED WITH YOUR DOCTOR</h2>
          <p>Get push notifications about essential need-to-knows.</p>
          <br>
          <h2 style="font-size:18px;">ADD CARGIVERS</h2>
          <p>Involve friends, family or medical professionals through alerts and access to data.</p>
        </div>

      </div>
    </div>
</div>
    <br><br><br>

<div style="background-color:#F8F8F8;">
  <br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="col s7" style="max-width:500px;">
            <img style="text-align:left; margin-top:-100px;" width="100%" src="">
          </div>
          <div class="col s5" id="our_team_col">
            <h1 style="font-size:18px; color:#1FD9C7;">MSPIROMETER</h1>
            <h1 style="text-align:left;">mSpirometer measures your lung abilities.</h1>
            <p style="text-align:left;">
              Understand your airways by measuring lung function over time. mSpirometer’s best-in-class technology lets you take clinical-grade measurements at home. Charges mSpirometer with a micro-USB cable and connect to BreatheSmart wirelessly with Bluetooth.
            </p>
            <!-- <br>
            <a id="learnMoreButtonGrey">Learn More</a> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col s12">

          <div class="col s5" id="our_team_col">
            <h1 style="font-size:18px; color:#1FD9C7;">HEROTRACKER</h1>
            <h1 style="text-align:left;">HeroTracker records your inhaler usage.</h1>
            <p style="text-align:left;">
              HeroTracker fits most inhalers - HFA, diskus, and more - and tracks when you use each of your respiratory medications. HeroTracker connects to Breathe Smart wirelessly with Bluetooth and never needs to charge.
            </p>
            <!-- <br>
            <a id="learnMoreButtonGrey">Learn More</a> -->
          </div>
          <div class="col s7" style="max-width:500px;">
            <img style="text-align:left; margin-top:-100px;" width="100%" src="">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="col s7" style="max-width:500px;">
            <img style="text-align:left; margin-top:-100px;" width="100%" src="">
          </div>
          <div class="col s5" id="our_team_col">
            <h1 style="font-size:18px; color:#1FD9C7;">COHEROCONNECT</h1>
            <h1 style="text-align:left;">CoheroConnect gives detailed insights on the web.</h1>
            <p style="text-align:left;">
              Explore respiratory health trends on CoheroConnect, your personal web dashboard. Set up a friend or family member as a caregiver, and work together to stay healthy.
            </p>
            <!-- <br>
            <a id="learnMoreButtonGrey">Learn More</a> -->
          </div>
        </div>
      </div>
    </div>
</div>

<br>
<%- include ../globalPartials/footer %>
<%- include ../globalPartials/bottom_of_body %>
</body>
</html>
