<!DOCTYPE html>
<html lang="en">
<%- include ../globalPartials/head %>
<body>
  <%- include ../patient/generalPatientPartials/nav %>
  <br>
  <br>
  <br>
  <div class=container>
    <div class="center row">
      <div class="col s12">
        <div class="col s5">
          <h1 class="left-align">Our product suite brings smart technology to respiratory health.</h1>
          <div class="left-align">
            Our hardware and software integrates seamlessly to track your daily medication use and lung function. Get daily reminders to take your medication, notifications about environmental dangers where you are, learn about how to stay healthy, and keep your doctor in the know.
          </div>
        </div>
        <div class="col s7">
        </div>
      </div>
    </div>
    <br><br><br>
    <div class="center row">
      <div class="col s12">
        <h1 style="font-size:14px;">BREATHESMART</h1>
        <h1>BreatheSmart makes <br>understanding your health easy.</h1>
      </div>
    </div>
  </div>

  <div class=container>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active left-align" href="#asthma">Asthma</a></li>
          <li class="tab col s3"><a class="left-align" href="#copd">COPD</a></li>
          <li class="tab col s3"><a class="left-align" href="#cysticFibrosis">Cystic Fibrosis</a></li>
          <li class="tab col s3"><a></a></li>
        </ul>
        <div style="width:100%; border: solid #B4B4B4 1px; z-index:-1; margin-top:-1px;"></div>

      </div>
      <div id="athma" class="col s12"></div>
      <div id="copd" class="col s12">Test 3</div>
      <div id="cysticFibrosis" class="col s12">Test 4</div>
    </div>
  </div>

    <div class="container">
      <div class="row center">

        <div class="col s12">
          <div class="col s4">
            <p class="bold">Chanmpito Rengmied</p>
            <p class="light">washj crafit gehhrei demenier.</p><br>
            <p class="bold">Chanmpito Rengmied</p>
            <p class="light">washj crafit gehhrei demenier.</p><br>
            <p class="bold">Chanmpito Rengmied</p>
            <p class="light">washj crafit gehhrei demenier.</p><br>
          </div>
          <div class="col s4">
            <img width="100%" src="images/placeholder.png">
          </div>
          <div class="col s4">
            <p class="bold">Chanmpito Rengmied</p>
            <p class="light">washj crafit gehhrei demenier.</p><br>
            <p class="bold">Chanmpito Rengmied</p>
            <p class="light">washj crafit gehhrei demenier.</p><br>
            <p class="bold">Chanmpito Rengmied</p>
            <p class="light">washj crafit gehhrei demenier.</p><br>
          </div>

        </div>
      </div>
    </div>
    <br><br><br>


    <div class="container hide-on-med-and-down">
      <div class="row">
        <div class="col s12">
          <div class="col s7" style="max-width:500px;">
            <img style="text-align:left; margin-top:-100px;" width="100%" src="">
          </div>
          <div class="col s5" id="our_team_col">
            <h1 style="font-size:14px;">MSPIROMETER</h1>
            <h1 style="text-align:left;">mSpirometer measures your lung abilities.</h1>
            <p style="text-align:left;">
              Understand your airways by measuring lung function over time. mSpirometer’s best-in-class technology lets you take clinical-grade measurements at home. Charges mSpirometer with a micro-USB cable and connect to BreatheSmart wirelessly with Bluetooth.
            </p><br>
            <a id="learnMoreButtonGrey">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container hide-on-med-and-down">
      <div class="row">
        <div class="col s12">

          <div class="col s5" id="our_team_col">
            <h1 style="font-size:14px;">HEROTRACKER</h1>
            <h1 style="text-align:left;">HeroTracker records your inhaler usage.</h1>
            <p style="text-align:left;">
              HeroTracker fits most inhalers - HFA, diskus, and more - and tracks when you use each of your respiratory medications. HeroTracker connects to Breathe Smart wirelessly with Bluetooth and never needs to charge.
            </p><br>
            <a id="learnMoreButtonGrey">Learn More</a>
          </div>
          <div class="col s7" style="max-width:500px;">
            <img style="text-align:left; margin-top:-100px;" width="100%" src="">
          </div>
        </div>
      </div>
    </div>

<br>
<%- include ../globalPartials/footer %>
<%- include ../globalPartials/bottom_of_body %>
</body>
</html>
