<!DOCTYPE html>
<html lang="en">
<%- include ../globalPartials/head %>
<body>
  <div class="container">
    <div class="center row">
      <div class="col s12">
        <h1>Cohero Videos</h1>
      </div>
      <div class="col s12">
        <video controls="controls" width="300" name="Cohero Video 1" src="PEFVideo.mov"></video>
      </div>
    </div>
  </div>

  <%- include ../globalPartials/bottom_of_body %>
</body>
</html>
