<!DOCTYPE html>
<html lang="en">
<%- include ../globalPartials/head %>
<body>
  <div class="container center">
    <div clas="row">
      <h1>Cohero Videos</h1>
    </div>
    <div clas="row">
      <video controls="controls" width="300" name="Cohero Video 1" src="PEFVideo.mov"></video>
    </div>
  </div>
  <%- include ../globalPartials/bottom_of_body %>
</body>
</html>
