<!DOCTYPE html>
<html lang="en">
<%- include ../partials/head %>
<body>
  <%- include ../partials/client_nav %>
  <div class="container">Start
  </div>

  <%- include ../partials/footer %>
  <%- include ../partials/bottom_of_body %>
</body>
</html>
