<div class="col s12">
  <ul class="bxslider">
    <li>
      <div class="tile" style="background-color:#EBEBEB;">
        <br>
        <div class="left-align">
          <img src="images/blueDocumentIcon.png"  width=50 alt="">
        </div>
        <br><br>
        <div class="left-align tile_sub_text">April, 12th, 2016</div>
      </div>
    </li>
    <li>
      <div class="tile" style="background-color:#50E3C2;">
        <br>
        <div class="left-align">
          <img src="images/blueDocumentIcon.png"  width=50 alt="">
        </div>
        <br><br>
        <div class="left-align tile_sub_text">March, 11th, 2016</div>
      </div>
    </li>
    <li>
      <div class="tile" style="background-color:#C99FE1;">
        <br>
        <div class="left-align">
          <img src="images/blueDocumentIcon.png"  width=50 alt="">
        </div>
        <br><br>
        <div class="left-align tile_sub_text">August, 12th, 2016</div>
      </div>
    </li>
    <li>
      <div class="tile" style="background-color:#EBEBEB;">
        <br>
        <div class="left-align">
          <img src="images/blueDocumentIcon.png"  width=50 alt="">
        </div>
        <br><br>
        <div class="left-align tile_sub_text">April, 12th, 2016</div>
      </div>
    </li>
    <li>
      <div class="tile" style="background-color:#EBEBEB;">
        <br>
        <div class="left-align">
          <img src="images/blueDocumentIcon.png"  width=50 alt="">
        </div>
        <br><br>
        <div class="left-align tile_sub_text">April, 12th, 2016</div>
      </div>
    </li>
    <li>
      <div class="tile" style="background-color:#EBEBEB;">
        <br>
        <div class="left-align">
          <img src="images/blueDocumentIcon.png"  width=50 alt="">
        </div>
        <br><br>
        <div class="left-align tile_sub_text">April, 12th, 2016</div>
      </div>
    </li>
    <li>
      <div class="tile" style="background-color:#EBEBEB;">
        <br>
        <div class="left-align">
          <img src="images/blueDocumentIcon.png"  width=50 alt="">
        </div>
        <br><br>
        <div class="left-align tile_sub_text">April, 12th, 2016</div>
      </div>
    </li>
  </ul>
</div>
