<div class="conatiner">
    <div class="row center">
      <div class="col s1 left-align">
        <br><br><br><br>
        <img id="press_release_arrow_left" src="images/arrowLeftPress.png" alt="">
      </div>
      <div class="col s10 center">
        <div>
          <ul class="bxslider">
            <li style="padding-bottom: 2cm;">
                <div class="tile" style="background-color:#50E3C2; ">
                  <div class="white-text left-align">
                    A title I made up today.
                  </div>
                  <br><br><br>
                  <div class="left-align tile_sub_text">March, 11th, 2016</div>
                </div>
            </li>
            <li>
              <div class="tile" style="background-color:#63A9EE; ">
                <div class="white-text left-align">
                  A longer title I made up yesterday to pass the time.
                </div>
                <br><br>
                <div class="left-align tile_sub_text">March, 11th, 2016</div>
              </div>
            </li>
            <li>
              <div class="tile" style="background-color:#C99FE1; ">
                <div class="white-text left-align">
                  A title I made up today.
                </div>
                <br><br><br>
                <div class="left-align tile_sub_text">March, 12th, 2016</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col s1 left-align">
        <br><br><br><br>
        <img id="press_release_arrow_right" src="images/arrowRightPress.png" alt="">
      </div>
    </div>
</div>
