
<!-- Really weird code glitch here where in order to display full tile I had to add padding 2px and 2cm randomly at the bottom of certain tiles
Also I had to change the bottom placement of the december slide to 90px -->
      <div class="col s2 right-align">
        <img id="press_release_arrow_left" width=18px; style="margin-top:140px; margin-right:13px;" src="images/grayLeft@2x.jpg">
      </div>
      <div class="col s9 center">
        <div>
          <ul class="bxslider">
            <li style="padding-bottom: 2px;">
              <a target="_blank" href="http://www.prweb.com/releases/2016/11/prweb13815254.htm">
                <div class="tile" style="background-color:#C99FE1;postion:relative; ">
                  <div class="tile_title">
                    Cohero Health Closes Series A Funding.
                  </div>
                  <div class="tile_sub_text">NOVEMBER 7, 2016</div>
                </div>
              </a>
            </li>
            <li style="padding-bottom: 2px;">
              <a target="_blank" href="https://static1.squarespace.com/static/53a99924e4b04062ff8473f1/t/5702c3695559868c7500d293/1459798889198/CoheroHealthPressRelease040416.pdf">
                <div class="tile" style="background-color:#50E3C2; postion:relative;">
                  <div class="tile_title">
                    Cohero Announces Completion of Connected Metered Dose Inhaler.
                  </div>
                  <div class="tile_sub_text">APRIL 4, 2016</div>
                </div>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://static1.squarespace.com/static/53a99924e4b04062ff8473f1/t/56e85c6dd210b84f5e9f80b7/1458068596069/Cohero+Health+press+release+3%3A15%3A16.pdf">
                <div class="tile" style="background-color:#63A9EE; postion:relative;">
                  <div class="tile_title">
                    Cohero Health Wins Pediatric Health Startup Pitch.
                  </div>
                  <div class="tile_sub_text">MARCH 15, 2016</div>
                </div>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://static1.squarespace.com/static/53a99924e4b04062ff8473f1/t/568e9c44df40f3bb4e88724e/1452186692673/Cohero+Health+ProCare+Rx_Press+Release+010716_CHLH_.pdf">
                <div class="tile" style="background-color:#C99FE1; postion:relative;">
                  <div class="tile_title">
                    Cohero Health and ProCare Rx Announce Partnership.
                  </div>
                  <div class="tile_sub_text">JANUARY 7, 2016</div>
                </div>
              </a>
            </li>
            <li style="padding-bottom: 2cm;">
              <a target="_blank" href="https://static1.squarespace.com/static/53a99924e4b04062ff8473f1/t/568e99dbbfe873336d84041b/1452186075171/Cohero+Health+Seed+Round+Press+Release+12.15.15_CHLH.pdf">
                <div class="tile" style="background-color:#63A9EE; postion:relative;">
                  <div class="tile_title">
                    Cohero Health Secures $2M Seed Investment.
                  </div>
                  <div class="tile_sub_text" style="bottom:90px !important;">DECEMBER 22, 2015</div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col s1 left-align" style="margin-top:140px;">
        <img id="press_release_arrow_right" width=18px; src="images/grayRight@2x.png">
      </div>
