<div class="hide-on-med-and-down">
  <div class="container">
    <div class="center row">
        <div class="col s2">
        </div>
        <div class="col s8">
          <br>
          <h1>Build better habits, <br>and keep your doctor in the loop.</h1>
        </div>
      </div>
    </div>
    <br><br>
      <div class="row center" style="max-width:1300px;">
        <div class="col s12 m4">
          <div class="icon-block">
            <div id="what_is_cohero" class="section scrollspy">
              <div style="height:130px;">
                <img src="images/track.png" width="155px;" alt="">
              </div>
              <br><br>
            </div>
            <div id="what_is_content_outer" >
              <div id="what_is_content_inner">
                <h2 class="center" style="margin-top:-3px;">Track.</h2>
                <p>Keep track of how often you use your medications, when you’re at risk, how open your lung airways are, and your lung metrics over time.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <div style="height:130px;">
              <img src="images/engage.png" width="100px;" alt="" style="margin-left:20px; margin-top:25px;">
            </div>
            <br><br>
            <div id="what_is_content_outer" >
              <div id="what_is_content_inner">
                <h2 class="center">Engage.</h2>
                <p class="light">Get reminders to take your medication, smart notifications, tips, and timely information.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <div style="height:130px;">
              <img src="images/doc.png" width="201px;" alt="" style="margin-top:55px;">
            </div>
            <br><br>
            <div id="what_is_content_outer" >
              <div id="what_is_content_inner">
                <h2 class="center">Connect.</h2>
                <p class="light">Share information with your doctor in real-time, so your treatment is just right and always personal.</p>
              </div>
            </div>
          </div>
      </div>
    </div>

  <!-- <div class="contaner">
    <div class="center row">
      <div id="how_does_it_work_story_arrow" class="hvr-grow">
        <a href="#how_does_it_work" class="hide-on-small-only">
          <p style="font-size:13px; color:#75787B;">How does it work?</p>
          <div style="margin-top:-10px;">
            <img src="images/grey_scroll_down.png" width="28px;" alt="">
          </div>
        </a>
      </div>
    </div>
  </div> -->
</div>



<!-- ******************************MOBILE****************************************** -->
<div class="container hide-on-large-only show-on-med-and-up">
  <div class="row center">
    <div class="col s12">
      <h1>Build better habits, <br>and keep your doctor in the loop.</h1>
      <div id="build_better_habbits_carousel" class="carousel carousel-slider center" data-indicators="true">
       <div class="carousel-item white" href="#one!">
         <h2>Track.</h2>
         <img src="images/track.png" style="width:140px; margin-left:20px;" alt="">
         <div id="outer">
           <div id="inner">
             <p style="font-family: 'Open Sans', sans-serif; font-weight: 300; color: #75787B; font-size: 18px;">
               Keep track of how often you use your medications, when you’re at risk, how open your lung airways are, and your lung metrics over time.
             </p>
           </div>
         </div>
       </div>
       <div class="carousel-item white" href="#two!">
         <h2>Engage.</h2>
         <img align="center" src="images/engage.png" style="width:150px; margin-left:30px" alt="">
         <br>
         <div id="outer" style="margin-top:-10px;">
           <div id="inner">
             <p style="font-family: 'Open Sans', sans-serif; font-weight: 300; color: #75787B; font-size: 18px;">
               Get reminders to take your medication, smart notifications, tips, and timely information.
             </p>
           </div>
         </div>
       </div>
       <div class="carousel-item white" href="#three!">
         <h2>Connect.</h2>
         <img src="images/doc.png" style="width:180px; margin-top:20px;" alt="">
         <div id="outer">
           <div id="inner">
             <p style="font-family: 'Open Sans', sans-serif; font-weight: 300; color: #75787B; font-size: 18px;">
               Share information with your doctor in real-time, so your treatment is just right and always personal.
             </p>
           </div>
         </div>
       </div>
     </div>
    </div>
  </div>
</div>
<!-- **************************************************************************** -->
