<div class="hide-on-med-and-down">
  <div class="container">
    <div class="center row">
        <div class="col s2">
        </div>
        <div class="col s8">
          <br>
          <h1>Build better habits, <br>and keep your doctor in the loop.</h1>
        </div>
      </div>
    </div>
    <br><br><br>
      <div class="row center" style="max-width:1300px;">
        <div class="col s12 m4">
          <div class="icon-block">
            <div id="what_is_cohero" class="section scrollspy">
              <div style="height:130px;">
                <img src="images/track@3x.png" width="150px;" alt="">
              </div>
              <br><br>
            </div>
            <div id="what_is_content_outer" >
              <div id="what_is_content_inner_track">
                <h2 class="center" style="margin-top:-3px;">Track.</h2>
                <p>Keep track of how often you use your medications, when you’re at risk, how open your lung airways are, and your lung metrics over time.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <div style="height:130px;">
              <img src="images/engage@3x.png" width="100px;" alt="" style="margin-left:20px; margin-top:25px;">
            </div>
            <br><br>
            <div id="what_is_content_outer" >
              <div id="what_is_content_inner">
                <h2 class="center">Engage.</h2>
                <p class="light">Get reminders to take your medication, smart notifications, tips, and timely information.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <div style="height:130px;">
              <img src="images/doc@3x.png" width="201px;" alt="" style="margin-top:55px;">
            </div>
            <br><br>
            <div id="what_is_content_outer" >
              <div id="what_is_content_inner">
                <h2 class="center">Connect.</h2>
                <p class="light">Share information with your doctor in real-time, so your treatment is just right and always personal.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>



<!-- ******************************IPAD****************************************** -->
<div class="container hide-on-large-only" >
  <div class="row center">
    <div class="col s12">
      <h1>Build better habits, <br>and keep your doctor in the loop.</h1>
      <div id="build_better_habbits_carousel_ipad" class="carousel carousel-slider center" data-indicators="true">
       <div class="carousel-item white" href="#one!">
         <h2>Track.</h2>
         <img src="images/track@3x.png" style="width:140px; margin-left:20px;" alt="">
         <div id="outer">
           <div>
             <p>
               Keep track of how often you use your medications.
             </p>
           </div>
         </div>
       </div>
       <div class="carousel-item white" href="#two!">
         <h2>Engage.</h2>
         <img align="center" src="images/engage@3x.png" style="width:100px; margin-left:30px" alt="">
         <br>
         <div id="outer" style="margin-top:-10px;">
           <div>
             <p>
               Get reminders to take your medication.
             </p>
           </div>
         </div>
       </div>
       <div class="carousel-item white" href="#three!">
         <h2>Connect.</h2>
         <img src="images/doc@3x.png" style="width:200px; margin-top:20px;" alt="">
         <div id="outer">
           <div>
             <p>
               Share information with your doctor in real-time.
             </p>
           </div>
         </div>
       </div>
     </div>
    </div>
  </div>
</div>
<!-- **************************************************************************** -->
