<div>
    <div id="press" class="section scrollspy" style="background-color:#F7F7F7;">
      <div class="container">
        <div class="center row">
          <div  class="col s12 center">
            <br><br><br>
            <h1>
              Cohero's in the press.
            </h1>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col s12 center">
            <div style="height:200px;">
              <ul>
                <li class="shownQuote" id="techCrunchQuote">
                  <div id="outer">
                    <div id="inner">
                      <p>“As someone born with asthma who’s been hospitalized several times, I’m personally super eager to try this out and have signed up to be an early user.” </p>
                      <p>- Megan Rose Dickey (Tech Crunch)</p>
                    </div>
                  </div>
                </li>
                <li class="hiddenQuote" id="wiredQuote">
                  <div id="outer">
                    <div id="inner">
                      <p>“Respiratory health tracking will also get a boost from the Watch’s platform. Cohero Health is working on an Apple Watch app so asthmatics can better track their medical adherence and lung function.” </p>
                      <p>- Christina Bonnington (Wired)</p>
                    </div>
                  </div>
                </li>
                <li class="hiddenQuote" id="fastCompanyQuote">
                  <div id="outer">
                    <div id="inner">
                      <p>“... the aspiring tech hub has just about all things necessary for startup life: supplies, office chairs, Internet, couches, and, of course, companies on the verge. This year's 16-company class includes ... Cohero Health”</p>
                      <p>- Rebecca Greenfield (Fast Company)</p>
                    </div>
                  </div>
                </li>
                <li class="hiddenQuote" id="crainsQuote">
                  <div id="outer">
                    <div id="inner">
                      <p>Cohero Health... aims to help kids with chronic asthma manage their condition.</p>
                      <p>- Irina Ivanova (Crain's)</p>
                    </div>
                  </div>
                </li>
                <li class="hiddenQuote" id="forbesQuote">
                  <div id="outer">
                    <div id="inner">
                      <p>10 Healthcare Technology Disruptors To Watch (All Led By Women)</p>
                      <p>- Kate Harrison (Forbes)</p>
                    </div>
                  </div>
                </li>
                <li class="hiddenQuote" id="wallStreetQuote">
                  <div id="outer">
                    <div id="inner">
                      <p>The Daily Startup: Late-Stage VCs Poised for Strong Fundraising</p>
                      <p>- Mike Billings (The Wall Street Journal)</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="center row">
          <div  class="col s12 center">
            <a id="learnMoreButtonGrey" href="press">Learn More</a>
            <div style="height:45px;"></div>
          </div>
        </div>
      </div>
    </div>

    <div style="background-color:white; position:relative; top:-20px; " class="hide-on-small-only">
      <div align="center" style="margin-left:60px; margin-right:60px; display:flex;">
        <div style="flex:1;">
          <div style=" height:98px;">
            <div id="fastCompanyArrow" class="hiddenArrow"></div>
          </div>
          <div style="width:129px;">
            <a target="_blank" class="pressIcon" id="fastCompanyIcon" href="https://www.fastcompany.com/3030898/most-creative-people/in-the-capital-of-pricey-real-estate-a-no-rent-no-equity-accelerator-lu">
              <img src="images/fastCompany@2x.png" width="100%">
            </a>
          </div>
        </div>
        <div style="flex:1;">
          <div style=" height:88px;">
            <div id="techCrunchArrow" class="hiddenArrow"></div>
          </div>
          <div style="width:60px;">
            <a target="_blank" class="pressIcon" id="techCrunchIcon" href="https://techcrunch.com/2015/09/21/cohero-health-aims-to-improve-patient-care-for-the-26-million-american-asthma-sufferers/">
              <img src="images/tc@2x.png" width="100%">
            </a>
          </div>
        </div>
        <div style="flex:1;">
          <div style=" height:88px;">
            <div id="forbesArrow" class="hiddenArrow"></div>
          </div>
          <div style="width:123px;">
            <a target="_blank" class="pressIcon" id="forbesIcon" href="http://www.forbes.com/forbes/welcome/?toURL=http://www.forbes.com/sites/kateharrison/2015/08/13/10-healthcare-technology-disruptors-to-watch-all-led-by-women/&refURL=http://www.coherohealth.com/press&referrer=http://www.coherohealth.com/press">
              <img src="images/forbes@2x.png"  width="100%">
            </a>
          </div>
        </div>
        <div style="flex:1;">
          <div style=" height:98px;">
            <div id="wiredArrow" class="shownArrow"></div>
          </div>
          <div style="width:112px;">
            <a target="_blank" class="pressIcon" id="wiredIcon" href="https://www.wired.com/2015/02/apple-watch-apps/">
              <img src="images/wired@2x.png"  width="100%">
            </a>
          </div>
        </div>
        <div style="flex:1;">
          <div style=" height:98px;">
            <div id="crainsArrow" class="hiddenArrow"></div>
          </div>
          <div style="width:127px;">
            <a target="_blank" class="pressIcon" id="crainsIcon" href="http://www.crainsnewyork.com/article/20131016/TECHNOLOGY/131019927">
              <img src="images/crains@2x.png"  width="100%">
            </a>
          </div>
        </div>
        <div style="flex:1;" class="hide-on-med-and-down">
          <div style=" height:98px;">
            <div id="wallStreetArrow" class="hiddenArrow"></div>
          </div>
            <div style="width:136px;">
              <a target="_blank" class="pressIcon" id="wallStreetIcon" href="http://blogs.wsj.com/venturecapital/2015/12/24/the-daily-startup-late-stage-vcs-poised-for-strong-fundraising-lp-says/">
                <img src="images/wallStreet@2x.png"  width="100%">
              </a>
            </div>
        </div>
      </div>
    </div>
    <div style="margin-top:92px;" class="hide-on-small-only"></div>
