<div style="background-color:#F7F7F7;height:500px;">
  <div class="container">
    <div class="center row">
      <div  class="col s12 center">
        <br><br><br>
        <h1>
          Cohero in the Press
        </h1>
      </div>
      <div class="col s12 center">
        <div class="slider press_slider">
          <ul class="slides" style="background-color:#F7F7F7;">
            <li>
              <div id="outer">
                <div id="inner">
                  <p>“As someone born with asthma who’s been hospitalized several times, I’m personally super eager to try this out and have signed up to be an early user.” </p>
                  <p>- Megan Rose Dickey (Tech Crunch)</p>
                </div>
              </div>
            </li>
            <li>
              <div id="outer">
                <div id="inner">
                  <p>“You may not recognize the name Melissa Manice now, but it won’t be long before you do.  Her company, Cohero Health, is about to transform the healthcare industry.”</p>
                  <p>- Morgan Brasfield (Driven for Women)</p>
                </div>
              </div>
            </li>
            <li>
              <div id="outer">
                <div id="inner">
                  <p>Cohero First Place Winner of Impact Pediatric Health Pitch at South by South West Interactive Festival 2016.</p>
                </div>
              </div>
            </li>
            <li>
              <div id="outer">
                <div id="inner">
                  <p>"Cohero is revolutionizing the respiratory market with small mobile-connected devices."</p>
                  <p>- Jennifer Lannon (Disruptive Women in Heath Care)</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col s12 center" style="margin-top:30px;">
        <a id="learnMoreButtonGrey" href="press">Learn More</a>
      </div>
    </div>
  </div>
</div>
<br>
<div align="center">
  <a target="_blank" href="https://www.wired.com/2015/02/apple-watch-apps/"><img src="images/Wired.png" style="padding:10px;" width="125px" alt=""></a>
  <a target="_blank" href="https://www.fastcompany.com/3030898/most-creative-people/in-the-capital-of-pricey-real-estate-a-no-rent-no-equity-accelerator-lu"><img src="images/FastCompany.png" style="padding:10px;" width="125px" alt=""></a>
  <a target="_blank" href="http://www.crainsnewyork.com/article/20131016/TECHNOLOGY/131019927"><img src="images/Crains.png" style="padding:10px;" width="125px" alt=""></a>
  <a target="_blank" href="http://www.forbes.com/forbes/welcome/?toURL=http://www.forbes.com/sites/kateharrison/2015/08/13/10-healthcare-technology-disruptors-to-watch-all-led-by-women/&refURL=http://www.coherohealth.com/press&referrer=http://www.coherohealth.com/press"><img src="images/Forbes.png" style="padding:10px;" width="125px" alt=""></a>
  <a target="_blank" href="http://blogs.wsj.com/venturecapital/2015/12/24/the-daily-startup-late-stage-vcs-poised-for-strong-fundraising-lp-says/"><img src="images/WSJ.png" style="padding:10px;" width="125px" alt=""></a>
  <a target="_blank" href="https://techcrunch.com/2015/09/21/cohero-health-aims-to-improve-patient-care-for-the-26-million-american-asthma-sufferers/"><img src="images/TC.png" style="padding:10px;" width="125px" alt=""></a>
  <br>
  <!-- <div id="read_our_press_story_arrow" class="col s12 hvr-grow">
    <a href="#try_our_products" class="hide-on-small-only">
      <p style="font-size:13px; color:#75787B;">Try our products</p>
      <div style="margin-top:-10px;">
        <img src="images/grey_scroll_down.png" width="28px;" alt="">
      </div>
    </a>
  </div> -->
</div>
