<br>
<br>
<br>
<br>
<div class="container center">
  <div class="row">
    <div class="col s12" style="text-align:center;">
      <div>
        <h1 id="GetToKnowCoHero">Get to know <br class="show-on-small hide-on-med-and-up"/> Cohero Health.</h1>
      </div>
      <div id="outer" style="width:100%; margin-top:-15px; color:white">
        <div id="inner">
          We’re revolutionizing how you take care of your asthma, COPD or Cystic Fibrosis through technology, data and design.
        </div>
      </div>
      <br>
    </div>
  </div>
</div>

<div class="container center">
<div class="row">
  <div class="col s12" style="text-align:center;">
    <!-- Modal Video Trigger -->
      <a class="center hvr-grow modal-trigger" href="#videomodal" id="play_button_link">
        <img id="play_button" src="images/button.svg" alt="">
        <br>
        <p style="font-size:13px; color: white;">Watch our video</p>
      </a>
    </div>
  </div>
</div>

<div class="container center">
  <div class="row">
    <div class="col s12" style="text-align:center;">
          <!-- VIDEO MODAL -->
       <div id="videomodal" class="modal" style="width:75%; margin-top:30px; border:solid #b997cd 2px;">
         <div class="modal-content" style="padding:0;">
           <div class="video-container">
              <iframe id="joe_video" src="https://player.vimeo.com/video/142920118?title=0&byline=0&portrait=0&api=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
         </div>
       </div>
    </div>
  </div>
</div>

<br>
<div class="container center">
  <div class="row">
    <div class="col s12" style="text-align:center;">
       <div class="hide-on-med-and-down">
          <br>
          <br>
          <div id="what_is_cohero_story_arrow" class="hvr-grow">
            <a href="#what_is_cohero">
              <h6 style="font-size:13px; color:white">What is Cohero Health?</h6>
              <img src="images/white_scroll_down.png" width="28px;" alt="">
              <br>
              <br>
            </a>
          </div>
        </div>
      </div>
  </div>
</div>
