<div class="hide-on-small-only">
  <div class="container center" style="margin-top:176px;">
    <div class="row">
      <div class="col s12" style="text-align:center;">
        <div>
          <h1 id="atCohero">At Cohero, we’re <br class="hide-on-small-only">revolutionizing respiratory care.<br class="hide-on-small-only"> We’d love you to join us.</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container center">
  <div class="row">
    <div class="col s12" style="text-align:center;">
      <!-- Modal Video Trigger -->
        <div align="center">
          <a class="center hvr-grow modal-trigger" href="#videomodal" id="play_button_link" >
            <img src="images/watchButton@3x.png" width="148px;" style="margin-top:-50px;">
          </a>
        </div>
      </div>
    </div>
    <div align="center">
      <div class="row" style="max-width:589px;">
        <img width="100%" src="images/temp.png">
      </div>
    </div>
  </div>
  <div style="height:1px; background:#F2F2F2; margin-top:-30px;" ></div>

  <div class="container center">
    <div class="row">
      <div class="col s12" style="text-align:center;">
            <!-- VIDEO MODAL -->
         <div id="videomodal" class="modal" style="width:75%; margin-top:30px; border:solid #b997cd 2px;">
           <div class="modal-content" style="padding:0;">
             <div class="video-container">
                <iframe id="joe_video" src="https://player.vimeo.com/video/142920118?title=0&byline=0&portrait=0&api=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
           </div>
         </div>
      </div>
    </div>
  </div>
</div>


<!-- MOBILE -->
<div class="hide-on-med-and-up">
  <div class="container center" style="margin-top:56px;">
    <div class="row">
      <div class="col s12" style="text-align:center;">
        <div>
          <h1 >At Cohero, we’re <br class="hide-on-small-only">revolutionizing respiratory care.<br class="hide-on-small-only"> We’d love you to join us.</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container center">
  <div class="row">
    <div align="center">
      <div class="row">
        <img width="300px" src="images/temp.png">
      </div>
    </div>
  </div>
</div>
