<!-- LARGE -->
<div style="margin-top:100px;" class="hide-on-small-only">
  <div style="height:600px; overflow:hidden; position:relative;">
    <img width="100%" style="z-index:-1;" src="images/flower@3x.jpg">
    <div class="container center" style="height:300px; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0;">
      <div class="col s12">
        <h1 id="atCohero">At Cohero Health, we're transforming <br> respiratory care through smart mobile devices.</h1>
      </div>
      <div align="center" style="margin-top:60px;">
        <a class="center hvr-grow modal-trigger" href="#videomodal" id="play_button_link" >
          <img src="images/watchButton@3x.png" width="148px;" style="margin-top:-50px;">
        </a>
      </div>
    </div>
  </div>
</div>
<!-- ////////// -->
<!-- MOBILE -->
<div class="hide-on-med-and-up">
  <div id="main_title_container_mobile" style="height:450px; overflow:hidden; position:relative; margin-top:20px;">
    <img width="100%" style="z-index:-1;" src="images/flower@3x.jpg">
    <div class="container center" style="height:300px; margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0;">
      <div class="col s12">
        <h1 id="atCoheroForMobile">At Cohero Health, we’re transforming<br> respiratory care through smart mobile devices.</h1>
      </div>
    </div>
  </div>
</div>
<!-- ///////// -->
<!-- VIDEO MODAL -->
  <div class="container center">
    <div class="row">
      <div class="col s12" style="text-align:center;">
         <div id="videomodal" class="modal" style="width:75%; margin-top:30px; border:solid #b997cd 2px;">
           <div class="modal-content" style="padding:0;">
             <div class="video-container">

                <iframe id="joe_video" src="https://player.vimeo.com/video/213527748?title=0&byline=0&portrait=0&api=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
           </div>
         </div>
      </div>
    </div>
  </div>
<!-- ///////////////////////////// -->

<!-- SCRIPTS WHICH RUN THE VIDEO -->
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="js/patientJS/meetJoe.js"></script>
<!-- ************************************************** -->
