<div style="margin-top:100px; height:555px; overflow:hidden;" class="hide-on-med-and-down">
  <img src="images/flower@3x.jpg" width="100%" />
  <div align="center">
    <div id="main_content" class="container center">
      <div class="row">
        <div class="col s12" style="text-align:center;">
          <div style="margin-top:100px;">
            <h1 id="atCohero">At Cohero, we’re transforming<br> respiratory care.  Join us.</h1>
          </div>
          <div align="center" style="margin-top:60px;">
            <a class="center hvr-grow modal-trigger" href="#videomodal" id="play_button_link" >
              <img src="images/watchButton@3x.png" width="148px;" style="margin-top:-50px;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- VIDEO MODAL -->
  <div class="container center">
    <div class="row">
      <div class="col s12" style="text-align:center;">
         <div id="videomodal" class="modal" style="width:75%; margin-top:30px; border:solid #b997cd 2px;">
           <div class="modal-content" style="padding:0;">
             <div class="video-container">
                <iframe id="joe_video" src="https://player.vimeo.com/video/142920118?title=0&byline=0&portrait=0&api=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
           </div>
         </div>
      </div>
    </div>
  </div>
<!-- ///////////////////////////// -->


<!-- TABLET AND MOBILE -->
<div style="height:555px; overflow:hidden;" class="hide-on-large-only">
  <img src="images/flower@3x.jpg" width="100%" />
  <div id="main_content" class="container center">
    <div class="row">
      <div class="col s12" style="text-align:center;">
        <div>
          <h1 id="atCohero">At Cohero, we’re transforming<br class="hide-on-small-only"> respiratory care. <br>Join us.</h1>
        </div>
        <div class="hide-on-small-only" align="center" style="margin-top:60px;">
          <a class="center hvr-grow modal-trigger" href="#videomodal" id="play_button_link" >
            <img src="images/watchButton@3x.png" width="148px;" style="margin-top:-50px;">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
