<div class="container hide-on-med-and-down" id="hardware_section" >
  <br><br>
  <div class="center row">
    <div class="col s12">
      <div class="col s6" style="margin-left:-40px;">
        <br>
        <h1 style="text-align:left;">Hardware and software to <br>help you breathe smarter.</h1>
        <div id="how_does_it_work" class="section scrollspy" style="margin-top:-40px;">
          <p style="text-align:left;">
            Our hardware and apps work together <br> seamlessly to keep you in the driver's seat <br>of your respiratory health.
          </p>
        </div>
        <a class="left" id="learnMoreButtonGrey" href="products">Learn More</a>
      </div>
      <div class="col s6 right" style="max-width:500px; margin-right:-80px;">
        <img width="100%" src="images/hardware.png">
      </div>
    </div>
  </div>
</div>


<!-- *************************MOBILE************************************************ -->
<div class="container hide-on-large-only" >
  <div class="center row">
    <div class="col s12">
      <h1 style="text-align:center;">Hardware and software to <br>help you breathe smarter.</h1>
      <div id="outer">
        <div id="inner_pic_hardware" class="pic">
          <img width="100%" src="images/hardware.png">
        </div>
      </div>
      <div class="col s12">
        <div id="outer">
          <div id="inner">
            <p style="text-align:center;">
              Our hardware and apps work together <br class="hide-on-small-only"> seamlessly to keep you in the driver's seat <br class="hide-on-med-and-down"> of your respiratory health.
            </p>
            <a id="learnMoreButtonGrey" href="products">Learn More</a>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ******************************************************************************* -->







<div class="container hide-on-med-and-down">
<br><br>
<div class="row">
  <div class="col s12">
    <div class="col s4">
    </div>
    <div class="center col s4">
      <div id="who_are_we_story_arrow" class="hvr-grow">
        <a href="#who_are_we">
          <p style="font-size:13px; color:#75787B;" >Who are we?</p>
          <div style="margin-top:-10px;">
            <img src="images/grey_scroll_down.png" width="28px;" alt="">
          </div>
        </a>
      </div>
    </div>
    <div class="col s4">
    </div>
  </div>
</div>
<br><br><br>
</div>
