
<a class="footer_link" id="our_products" ></a>
<!-- *************************LARGE************************************************ -->
  <div class="container hide-on-med-and-down" >
    <div class="row">
      <div class="col s12">
        <div class="col s5" style="margin-left:-40px;">
          <br>
          <h1  class="line36">Hardware and software to help you breathe smarter.</h1>

          <p>
            Our hardware and apps work together seamlessly to keep you in the driver's seat of your respiratory health.
          </p>
          <br>
          <a align="left" id="learnMoreButtonGrey" href="products">Learn More</a>
        </div>
        <div  class="col s7 right" style="max-width:626px; min-width:525px; margin-right:-80px;">
          <img width="100%" src="images/hardware@3x.png">
        </div>
      </div>
    </div>
  </div>
  <!-- ******************************************************************************* -->


  <!-- *************************TABLET************************************************ -->
  <div class="container hide-on-small-only hide-on-large-only" >
    <div class="row center">
      <div class="col s12" style="margin-top:-200px;">
        <h1  class="line36">Hardware and software to help <br>you breathe smarter.</h1>
        <div align="center">
          <img width="450px;" src="images/hardware@3x.png">
        </div>
        <div align="center">
          <div style="max-width:400px;">
            Our hardware and apps work together seamlessly to keep you in the driver's seat of your respiratory health.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <br>
        <a id="learnMoreButtonGrey" href="products">Learn More</a>
      </div>
    </div>
  </div>
  <!-- ************************************************************************* -->




<!-- *************************MOBILE************************************************ -->
<div class="container hide-on-med-and-up" >
  <div class="center row">
    <div class="col s12">
      <h1 style="text-align:center;">Hardware and software to <br> help you breathe smarter.</h1>
      <div id="outer">
        <div id="inner_pic_hardware" class="pic" style="min-width:300px;">
          <img width="100%" src="images/hardware@3x.png">
        </div>
      </div>
      <div class="col s12">
        <div id="outer">
          <div id="inner" style="margin-top:-20px;">
            <p style="text-align:left;" class="text-align-center">
              Our hardware and apps work together seamlessly to keep you in the driver's seat of your respiratory health.
            </p>
            <br>
            <a id="learnMoreButtonGrey" href="products">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ******************************************************************************* -->
