
  <div class="container">
    <div class="row left">
        <!-- <div id="what_people_say" class="section scrollspy">
        </div> -->
      <div class="col s7">
        <h1 class="left-align">Hear from people breathing <br> easier each day.</h1>
        <div class="slider testimonial_slider">
          <ul class="slides white">
            <li>
              <div>
              "Using the BreatheSmart app and HeroTracker hardware <br class="hide-on-small-only" />has finally put me in control of my asthma."
              - Courtney J., Texas
              </div>
            </li>
            <li>
              <div>
              “Text reminders have been really helpful.”
              - Zach B., NYC
              </div>
            </li>
            <li>
              <div>
              “I really like how easily you can look at the data <br class="hide-on-small-only" /> over different lengths of time.” 
              - Kristen C., MD
              </div>
            </li>
            <li>
              <div>
              "The BreatheSmart app has changed my life! <br class="hide-on-small-only" />  It has consistently reminded me to take my control inhaler twice a day."
              - Mark VV, NYC
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col s3">
        IMAGE
      </div>
      <div class="col s9" style="margin-top:20px;">
        <a id="learnMoreButtonGrey" href="products" >Learn More</a>
      </div>
      <div class="col s3">
        Under Image
      </div>
    </div>
  </div>
