  <div id="what_patients_say" class="container hide-on-med-and-down section scrollspy">
    <div class="row">
      <div class="col s12">
        <div class="col s5" style="margin-left:-40px;">
          <br>
          <h1 class="left-align line36">Hear from people breathing easier each day.</h1>
          <div class="slider testimonial_slider">
            <ul class="slides white">
              <li>
                <div>
                "Using the BreatheSmart app and HeroTracker hardware has finally put me in control of my asthma."<br>
                - Courtney J., Texas
                </div>
              </li>
              <li>
                <div>
                “Text reminders have been really helpful.”<br>
                - Zach B., NYC
                </div>
              </li>
              <li>
                <div>
                “I really like how easily you can look at the data <br class="hide-on-small-only" /> over different lengths of time.”<br>
                - Kristen C., MD
                </div>
              </li>
              <li>
                <div>
                "The BreatheSmart app has changed my life! <br class="hide-on-small-only" />  It has consistently reminded me to take my control inhaler twice a day."<br>
                - Mark V., NYC
                </div>
              </li>
            </ul>
          </div>
          <br>
          <a align="left" id="learnMoreButtonGrey" href="press">Learn More</a>
        </div>
        <div class="col s7 right" style="max-width:626px; min-width:525px; margin-right:-80px;">
          <img width="100%" src="images/family@3x.png">
        </div>
      </div>
    </div>
  </div>

<!-- *************************MOBILE************************************************ -->
<div class="container hide-on-large-only" >
  <div class="center row">
    <div class="col s12">
      <h1 style="text-align:center;">Hear from people breathing <br> easier each day.</h1>
      <img src="images/family@3x.png" width="556px;" alt="">
      <div class="slider testimonial_slider">
        <ul class="slides white">
          <li>
            <div>
            "Using the BreatheSmart app and HeroTracker hardware <br class="hide-on-small-only" />has finally put me in control of my asthma."<br>
            - Courtney J., Texas
            </div>
          </li>
          <li>
            <div>
            “Text reminders have been really helpful.”<br>
            - Zach B., NYC
            </div>
          </li>
          <li>
            <div>
            “I really like how easily you can look at the data <br class="hide-on-small-only" /> over different lengths of time.”<br>
            - Kristen C., MD
            </div>
          </li>
          <li>
            <div>
            "The BreatheSmart app has changed my life! <br class="hide-on-small-only" />  It has consistently reminded me to take my control inhaler twice a day."<br>
            - Mark V., NYC
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- ******************************************************************************* -->
