
  <div class="container">
    <div class="row left">
      <div class="col s12">
        <div id="what_people_say" class="section scrollspy">
        </div>
        <h1 class="left-align">Hear from people breathing <br> easier each day.</h1>
        <div class="slider testimonial_slider">
          <ul class="slides white">
            <li>
              <div >
                <p>“As someone born with asthma who’s been hospitalized several times, I’m personally super eager to try this out and have signed up to be an early user.” </p>
                <p>- Megan Rose Dickey (Tech Crunch)</p>
              </div>
            </li>
            <li>
              <div >
                <p>“You may not recognize the name Melissa Manice now, but it won’t be long before you do.  Her company, Cohero Health, is about to transform the healthcare industry.”</p>
                <p>- Morgan Brasfield (Driven for Women)</p>
              </div>
            </li>
            <li>
              <div >
                <p>Cohero First Place Winner of Impact Pediatric Health Pitch at South by South West Interactive Festival 2016.</p>
              </div>
            </li>
            <li>
              <div >
                <p>"Cohero is revolutionizing the respiratory market with small mobile-connected devices."</p>
                <p>- Jennifer Lannon (Disruptive Women in Heath Care)</p>
              </div>
            </li>
          </ul>
        </div>
        <!-- <div class="slider testimonial_slider" >
          <ul class="slides white">
            <li>
              <div>
                <p>"Using the BreatheSmart app and HeroTracker hardware <br class="hide-on-small-only" />has finally put me in control of my asthma."</p>
                <p>- Courtney J., Texas</p>
              </div>
            </li>
            <li>
              <div>
                <p>“Text reminders have been really helpful.”</p>
                <p>- Zach B., NYC</p>
              </div>
            </li>
            <li>
              <div>
                <p>“I really like how easily you can look at the data <br class="hide-on-small-only" /> over different lengths of time.” </p>
                <p>- Kristen C., MD</p>
              </div>
            </li>
            <li>
              <div>
                <p>"The BreatheSmart app has changed my life! <br class="hide-on-small-only" />  It has consistently reminded me to take my control inhaler twice a day."</p>
                <p>- Mark VV, NYC</p>
              </div>
            </li>
          </ul>
        </div> -->

          <!-- <div class="carousel carousel-slider" id="testimonial_carousel" style="margin-bottom:-200px;" data-indicators="true">
           <div class="carousel-item testimonial-item white" href="#one!">
             "Using the BreatheSmart app and HeroTracker hardware has finally put me in control of my asthma."
             - Courtney J., Texas
           </div>
           <div class="carousel-item testimonial-item white" href="#two!">
             “Text reminders have been really helpful.”
             - Zach B., NYC
           </div>
           <div class="carousel-item testimonial-item white" href="#three!">
             “I really like how easily you can look at the data over different lengths of time.”
             - Kristen C., MD
           </div>
         </div> -->
        <a id="learnMoreButtonGrey" href="products">Learn More</a>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br>
