<div id="greybox" class="grey lighten-5">
  <div class="container">
    <div class="row center">
      <div class="col s12">
        <div class= "col s1 hide-on-small-only">
          <img class="hide-on-small-only hvr-grow" style="margin-top:255px; cursor: pointer;" id="quote_slider_left_chev" src="images/gray_left_arrow.png" alt="">
        </div>
        <div class="col s12 m10 l10">
          <br><br><br><br>
          <div id="what_people_say" class="section scrollspy">
          </div>
          <h1>Hear from people breathing <br> easier each day.</h1>
          <div class="slider" id="quote_slider">
            <ul class="slides grey lighten-5">
              <li>
                <div>
                  <p>"Using the BreatheSmart app and HeroTracker hardware <br class="hide-on-small-only" />has finally put me in control of my asthma."</p>
                  <p>- Courtney J., Texas</p>
                </div>
              </li>
              <li>
                <div>
                  <p>“Text reminders have been really helpful.”</p>
                  <p>- Zach B., NYC</p>
                </div>
              </li>
              <li>
                <div>
                  <p>“I really like how easily you can look at the data <br class="hide-on-small-only" /> over different lengths of time.” </p>
                  <p>- Kristen C., MD</p>
                </div>
              </li>
              <li>
                <div>
                  <p>"The BreatheSmart app has changed my life! <br class="hide-on-small-only" />  It has consistently reminded me to take my control inhaler twice a day."</p>
                  <p>- Mark VV, NYC</p>
                </div>
              </li>
            </ul>
          </div>
          <br><br>
          <div class="col s12 center">
            <a id="learn_more_button" class="waves-effect waves-light btn" href="press">Learn More</a>
          </div>
          <div id="read_our_press_story_arrow" class="hvr-grow">
            <a href="#read_our_press" class="hide-on-med-and-down">
              <p style="font-size:13px; color:#75787B;">Read our press</p>
              <div style="margin-top:-10px;">
                <img src="images/grey_scroll_down.png" width="28px;" alt="">
              </div>
            </a>
          </div>
          <br><br>
        </div>
        <div class="col s1" class="col s1 hide-on-small-only">
          <img style="margin-top:255px; cursor: pointer;" class="hide-on-small-only hvr-grow" id="quote_slider_right_chev" src="images/gray_right_arrow.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
