
<a class="footer_link" id="what_people_say" ></a>
  <div class="container hide-on-med-and-down">
    <div class="row">
      <div class="col s12">
        <div class="col s5" style="margin-left:-40px;">
          <br>
          <h1 class="left-align line36">Hear from people breathing easier each day.</h1>
          <div class="slider testimonial_slider">
            <ul class="slides white">
              <li>
                <div>
                "Using the BreatheSmart app and HeroTracker hardware has finally put me in control of my asthma."<br>
                - Texas
                </div>
              </li>
              <li>
                <div>
                “I really love the Cohero technology. I am so grateful to be able to track my lung function and track my adherence.”<br>
                - Pennsylvania
                </div>
              </li>
              <li>
                <div>
                "The BreatheSmart app has changed my life! I don’t take my rescue inhaler as much and my life has improved dramatically both professionally and personally."<br>
                - NYC
                </div>
              </li>
            </ul>
          </div>
          <br>
          <a align="left" id="learnMoreButtonGrey" href="/press#what_patients_say">Learn More</a>
        </div>
        <div class="col s7 right" style="max-width:626px; min-width:525px; margin-right:-80px;">
          <img width="100%" src="images/family@3x.png">
        </div>
      </div>
    </div>
  </div>

<!-- *************************TABLET************************************************ -->
<div class="container hide-on-small-only hide-on-large-only" >
  <div class="center row">
    <div class="col s12">
      <h1 style="text-align:center;">Hear from people breathing <br> easier each day.</h1>
      <img src="images/family@3x.png" width="556px;" alt="">
      <div class="slider testimonial_slider">
        <ul class="slides white">
          <li>
            <div>
            "Using the BreatheSmart app and HeroTracker hardware <br class="hide-on-small-only" />has finally put me in control of my asthma."<br>
            - Texas
            </div>
          </li>
          <li>
            <div>
            “I really love the Cohero technology. I am so grateful to be able to track my lung function and track my adherence.”<br>
            - Pennsylvania
            </div>
          </li>
          <li>
            <div>
            "The BreatheSmart app has changed my life! I don’t take my rescue inhaler as much and my life has improved dramatically both professionally and personally."<br>
            - NYC
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- ******************************************************************************* -->

<!-- *************************MOBILE************************************************ -->
<div class="hide-on-med-and-up">
  <div class="container" >
    <div class="center row">
      <div class="col s12">
        <h1 style="text-align:center;">Hear from people breathing <br> easier each day.</h1>

      </div>
    </div>
  </div>
  <img src="images/familyMobile@3x.jpg" width="100%">
  <div class="container" >
    <div class="center row">
      <div class="col s12" style="margin-top:20px;">
        "Using the BreatheSmart app and HeroTracker hardware <br class="hide-on-small-only" />has finally put me in control of my asthma."<br>
        <div style="margin-top:10px;">- Texas</div>
      </div>

    </div>
  </div>
  <div class="container" >
    <div class="center row">
      <div class="col s12" style="margin-top:10px;">
        <div align="center" >
          <a id="learnMoreButtonGrey" href="/press#what_patients_say">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- ******************************************************************************* -->
