
  <div class="container">
    <div class="row left">
        <!-- <div id="what_people_say" class="section scrollspy">
        </div> -->
      <div class="col s7">
        <h1 class="left-align">Hear from people breathing <br> easier each day.</h1>
        <div class="slider testimonial_slider">
          <ul class="slides white">
            <li>
              <div>
                <p>"Using the BreatheSmart app and HeroTracker hardware <br class="hide-on-small-only" />has finally put me in control of my asthma."</p>
                <p>- Courtney J., Texas</p>
              </div>
            </li>
            <li>
              <div>
                <p>“Text reminders have been really helpful.”</p>
                <p>- Zach B., NYC</p>
              </div>
            </li>
            <li>
              <div>
                <p>“I really like how easily you can look at the data <br class="hide-on-small-only" /> over different lengths of time.” </p>
                <p>- Kristen C., MD</p>
              </div>
            </li>
            <li>
              <div>
                <p>"The BreatheSmart app has changed my life! <br class="hide-on-small-only" />  It has consistently reminded me to take my control inhaler twice a day."</p>
                <p>- Mark VV, NYC</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col s3">
        IMAGE
      </div>
      <div class="col s9" style="margin-top:20px;">
        <a id="learnMoreButtonGrey" href="products" >Learn More</a>
      </div>
      <div class="col s3">
        Under Image
      </div>
    </div>
  </div>
