<a class="footer_link" id="our_team" ></a>
<div  class="container hide-on-med-and-down">
  <div class="row">
    <div class="col s12">
      <div class="col s7 left" style="max-width:626px; min-width:525px; margin-left:-80px;">
        <img width="100%" src="images/world@3x.png">
      </div>
      <div class="col s5 right" style="margin-right:-40px;">
        <br>
        <h1 class="line36">We're on a mission to improve respiratory care, <br>the world over.</h1>
        <div style="max-width:400px;">
          <p>
            We want the world to breathe smarter and live healthier. That’s why our international team works each day to create best-in-class, easy to use products to transform the lives of people with respiratory challenges.
          </p>
        </div>
        <br>
        <a align="left" id="learnMoreButtonGrey" href="about">Learn More</a>
      </div>
    </div>
  </div>
</div>


<!-- **************************MOBILE************************ -->
<div class="container hide-on-large-only">
  <div class="row">
    <div class="col s12">
      <h1 style="text-align:center;">We're on a mission to improve respiratory care, <br>the world over.</h1>
      <div id="outer">
        <div class="pic" id="inner_pic_team" style="min-width:300px;">
          <img width="100%" src="images/world@3x.png">
        </div>
      </div>
      <div class="col s12">
        <div id="outer">
          <div id="inner" style="margin-top:-20px;">
            <p style="text-align:left;">
              We want the world to breathe smarter and live healthier. That’s why our international team works each day to create best-in-class, easy to use products to transform the lives of people with respiratory challenges.
            </p>
            <br>
            <a id="learnMoreButtonGrey" href="about">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ******************************************************** -->
