<!DOCTYPE html>
<html lang="en">
<%- include ../partials/head %>
<body>
  <%- include ../partials/nav %>
  <div class="container">
    <h5 class="center">Index</h5>
    <div class="grid-example col s12 m6">
      <img class="materialboxed" width="100%" src="images/IMG_3472.jpg">
    </div>
  </div>

  <!-- make sure this does not need to be a partial -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/init.js"></script>

</body>
</html>
