<!DOCTYPE html>
<html lang="en">
<%- include ../partials/head %>
<body>
  <%- include ../partials/nav %>
  <div class="container">
    <h5>Index</h5>
    <img class="materialboxed" width="650" src="images/IMG_3472.jpg">
    <img class="materialboxed" width="650" src="images/IMG_3472.jpg">
    <img class="materialboxed" width="650" src="images/IMG_3472.jpg">
  </div>

  <!-- make sure this does not need to be a partial -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/init.js"></script>

</body>
</html>
