<!DOCTYPE html>
<html lang="en">
<%- include ../partials/head %>
<body>
<%- include ../partials/client_nav %>
<div id="help">
  <div id="ROI" class="section scrollspy">
    <div class="container hide-on-small-only" >
      <div class="row">
        <div class="col s12">
          <br>
          <br>
          <br>
      	  <canvas id="myChart"  height="100"></canvas><br><br>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="input-field col s4" style="padding:10px;">
            <div class="roi_slider_label" style="font-size: .7rem; color: #9e9e9e; display:inline;">
              <div>
                Number of Patients
              </div>
            </div>
            <input placeholder="200,000" id="number_of_patients" type="number" class="validate">
          </div>

          <div class="input-field col s4" style="padding:10px;">
            <div class="roi_slider_label" style="font-size: .7rem; color: #9e9e9e; display:inline;">
              <div>
                Adherence w/out CoHero (more)
                <div style="text-decoration:underline;"id=slider-valueEstimAdhere>
                </div>
              </div>
              <br>
            </div>
            <div class=slide id=slideEstimAdhere></div>
          </div>

          <div class="input-field col s4" style="padding:10px;">
            <div class="roi_slider_label" style="font-size: .7rem; color: #9e9e9e; display:inline;">
              <div >
                Avg. Actuations (puffs) Per Day
                <div style="text-decoration:underline;" id=slider-valuePuffsPerDay>
                </div>
              </div>
              <br>
            </div>
            <div class=slide id=slidePuffsPerDay></div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col s12">
          <div class="input-field col s4" style="padding:10px;">
            <div class="roi_slider_label" style="font-size: .7rem; color: #9e9e9e; display:inline;">
              <div >
                Avg Actuations Per Canister
                <div style="text-decoration:underline;"id="slider-valueActuaPerCan">
                </div>
              </div>
              <br>
            </div>
            <div class=slide id=slideActuaPerCan></div>
          </div>

          <div class="input-field col s4" style="padding:10px; margin-top:0px;">
            <div class="input-field col s4">
              <div style="font-size: 1rem; color: #9e9e9e;"> Years </div>
              <div style="font-size: .7rem; color: #9e9e9e;"> 1 Year </div>
              <div style="font-size: .7rem; color: #9e9e9e;"> 2 Years </div>
              <div style="font-size: .7rem; color: #9e9e9e;"> 3 Year </div>
              <div style="font-size: .7rem; color: #9e9e9e;"> 4 Years </div>
              <div style="font-size: .7rem; color: #9e9e9e;"> 5 Year </div>
            </div>
            <div class="input-field col s4">
              <div style="font-size: 1rem; color: #9e9e9e;"> ROI % </div>
              <div id=roiDisplay1 style="font-size: .7rem; color: #9e9e9e;">  </div>
              <div id=roiDisplay2 style="font-size: .7rem; color: #9e9e9e;">  </div>
              <div id=roiDisplay3 style="font-size: .7rem; color: #9e9e9e;">  </div>
              <div id=roiDisplay4 style="font-size: .7rem; color: #9e9e9e;">  </div>
              <div id=roiDisplay5 style="font-size: .7rem; color: #9e9e9e;">  </div>
            </div>
            <div class="input-field col s4">
              <div style="font-size: 1rem; color: #9e9e9e;"> Savings </div>
              <div id=savingsDisplay1 style="font-size: .7rem; color: #9e9e9e;"> </div>
              <div id=savingsDisplay2 style="font-size: .7rem; color: #9e9e9e;"> </div>
              <div id=savingsDisplay3 style="font-size: .7rem; color: #9e9e9e;">  </div>
              <div id=savingsDisplay4 style="font-size: .7rem; color: #9e9e9e;">  </div>
              <div id=savingsDisplay5 style="font-size: .7rem; color: #9e9e9e;">  </div>
            </div>
          </div>

          <div class="input-field col s4" style="padding:10px; margin-top:0px;">
            <div class="input-field col s4">
              <div style="font-size: 1rem; color: #9e9e9e;"> Years </div>
              <div style="font-size: .7rem; color: #9e9e9e;"> 6 Years </div>
              <div style="font-size: .7rem; color: #9e9e9e;"> 7 Year </div>
              <div style="font-size: .7rem; color: #9e9e9e;"> 8 Years </div>
              <div style="font-size: .7rem; color: #9e9e9e;"> 9 Year </div>
              <div style="font-size: .7rem; color: #9e9e9e;"> 10 Years </div>
            </div>
            <div class="input-field col s4">
              <div style="font-size: 1rem; color: #9e9e9e;"> ROI % </div>
              <div id=roiDisplay6 style="font-size: .7rem; color: #9e9e9e;">  </div>
              <div id=roiDisplay7 style="font-size: .7rem; color: #9e9e9e;">  </div>
              <div id=roiDisplay8 style="font-size: .7rem; color: #9e9e9e;">  </div>
              <div id=roiDisplay9 style="font-size: .7rem; color: #9e9e9e;">  </div>
              <div id=roiDisplay10 style="font-size: .7rem; color: #9e9e9e;">  </div>
            </div>
            <div class="input-field col s4">
              <div style="font-size: 1rem; color: #9e9e9e;"> Savings </div>
              <div id=savingsDisplay6 style="font-size: .7rem; color: #9e9e9e;">  </div>
              <div id=savingsDisplay7 style="font-size: .7rem; color: #9e9e9e;">  </div>
              <div id=savingsDisplay8 style="font-size: .7rem; color: #9e9e9e;">  </div>
              <div id=savingsDisplay9 style="font-size: .7rem; color: #9e9e9e;">  </div>
              <div id=savingsDisplay10 style="font-size: .7rem; color: #9e9e9e;">  </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="outcomes" class="section scrollspy">
            <p>OUTCOMES </p>
    </div>
  </div>
</div>


  <%- include ../partials/footer %>
  <%- include ../partials/bottom_of_body %>
</body>
</html>
